<!DOCTYPE html>
<html lang="ko">

<head>
	<%-include('../_templates/_guide.head.ejs', {
		pageJavascript: ''
	}) %>
	<script src="https://unpkg.com/@studio-freight/lenis@1.0.42/dist/lenis.min.js"></script> 

	<script>
		document.addEventListener('DOMContentLoaded', function() {
			initializeLenis();
		});

		let lenisBody, lenisNav; // lenisBody(body안에서 lenis 동작), lenisNav(site-navi안에서 lenis 동작 : 햄버거 버튼 활성화)

		// lenis
		function initializeLenis() {
			let lenis = new Lenis();
            const raf = (time) => {
                lenis.raf(time);
                requestAnimationFrame(raf);
            };
            requestAnimationFrame(raf);
		}
    </script>
</head>

<body>
	<div id="wrap" class="hs main">
		<div id="container" class="full">
            <section class="intro">
                <div class="inner">
                    <svg xmlns="http://www.w3.org/2000/svg" width="125" height="131" viewBox="0 0 125 131" fill="none">
                        <path d="M101.32 63.05L78.08 49.64L65.03 24.88C64.36 23.54 63.45 23 62.36 23C61.27 23 60.36 23.55 59.69 24.88L46.64 49.64L23.58 62.93C22.85 63.29 22 64.39 22 65.48C22 66.57 22.55 67.42 23.4 67.91L46.64 81.32L59.69 106.08C60.36 107.42 61.27 107.96 62.36 107.96C63.45 107.96 64.36 107.41 65.03 106.08L78.08 81.32L101.14 68.03C101.87 67.67 102.72 66.57 102.72 65.48C102.72 64.39 102.17 63.54 101.32 63.05ZM30.2 61.31C31.01 60.84 43.04 53.94 46.67 51.82C50.72 49.44 55.94 45.97 59.82 42.74C62.61 40.42 63.83 38.21 64.71 36.31C66.11 33.3 66 31.1 65.94 30.52L76.24 50.08L30.2 61.31ZM78.06 79.13C74.01 81.51 68.79 84.98 64.91 88.21C62.12 90.53 60.9 92.74 60.02 94.64C58.62 97.65 58.73 99.85 58.79 100.43L48.49 80.87L94.53 69.64C93.72 70.11 81.69 77.01 78.06 79.13Z" fill="#00E600"/>
                    </svg>
                </div>
            </section>
            <section class="contents">
                <div class="content kv">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="masked-bg">
                                    <img src="../../assets/images/mainHs/mask.jpg" alt="">
                                </div>
                                <div class="slide-body">
                                    <h2 class="slide-title">Safety & Comfort Solution Provider</h2>
                                    <p class="slide-text">최적의 첨단소재로 고객의 안전과 행복 최우선</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content con4 limit-w act">
                    <div class="svg-wrap">
                        <svg class="slogan" xmlns="http://www.w3.org/2000/svg" width="962" height="168" viewBox="0 0 962 168" fill="none">
                            <g clip-path="url(#clip0_5061_5131)">
                                <path d="M4.58109 122.5C4.20776 122.5 3.83443 122.313 3.46109 121.94C3.18109 121.66 3.04109 121.287 3.04109 120.82V26.88C3.04109 26.4133 3.18109 25.9933 3.46109 25.62C3.83443 25.2467 4.20776 25.06 4.58109 25.06H58.0611C58.4344 25.06 58.7611 25.2467 59.0411 25.62C59.4144 25.9933 59.6011 26.4133 59.6011 26.88V33.04C59.6011 33.5067 59.4611 33.9267 59.1811 34.3C58.9011 34.58 58.5278 34.72 58.0611 34.72H15.3611C14.4278 34.72 13.9611 35.2333 13.9611 36.26V70.56H55.1211C55.5878 70.56 55.9611 70.7467 56.2411 71.12C56.6144 71.4 56.8011 71.7267 56.8011 72.1V78.54C56.8011 79.5667 56.2411 80.08 55.1211 80.08H13.9611V120.82C13.9611 121.287 13.7744 121.66 13.4011 121.94C13.1211 122.313 12.7011 122.5 12.1411 122.5H4.58109Z" fill="url(#paint0_linear_5061_5131)"/>
                                <path style="transform: translateY(-35.69px);" d="M101.111 123.62C92.6176 123.62 86.0376 121.147 81.3709 116.2C76.7976 111.16 74.5109 104.3 74.5109 95.62V56.98C74.5109 55.6733 75.1643 55.02 76.4709 55.02H83.3309C84.5443 55.02 85.1509 55.6733 85.1509 56.98V93.8C85.1509 100.52 86.5043 105.7 89.2109 109.34C91.9176 112.887 96.3976 114.66 102.651 114.66C106.384 114.66 109.698 113.587 112.591 111.44C115.578 109.293 117.864 106.633 119.451 103.46C121.131 100.287 121.971 97.3 121.971 94.5V56.98C121.971 55.6733 122.624 55.02 123.931 55.02H130.651C131.958 55.02 132.611 55.6733 132.611 56.98V120.54C132.611 121.847 131.958 122.5 130.651 122.5H123.931C122.624 122.5 121.971 121.847 121.971 120.54V112.98C120.011 115.78 117.071 118.253 113.151 120.4C109.231 122.547 105.218 123.62 101.111 123.62Z" fill="url(#paint1_linear_5061_5131)"/>
                                <path style="transform: translateY(-45.36px);" d="M174.474 123.9C168.407 123.9 163.74 121.707 160.474 117.32C157.3 112.933 155.714 107.193 155.714 100.1V64.54H144.934C143.627 64.54 142.974 63.9333 142.974 62.72V56.98C142.974 55.6733 143.627 55.02 144.934 55.02H155.714V41.72C155.714 41.2533 155.807 40.88 155.994 40.6C156.274 40.32 156.74 39.9933 157.394 39.62L163.134 36.12C163.694 35.84 164.16 35.7 164.534 35.7C165.654 35.7 166.214 36.54 166.214 38.22V55.02H184.414C185.627 55.02 186.234 55.6733 186.234 56.98V62.72C186.234 63.9333 185.627 64.54 184.414 64.54H166.214V99.54C166.214 104.58 167.24 108.36 169.294 110.88C171.347 113.307 174.194 114.52 177.834 114.52C180.634 114.52 183.387 113.68 186.094 112C186.654 111.813 186.98 111.72 187.074 111.72C187.447 111.72 187.727 111.86 187.914 112.14C188.194 112.42 188.334 112.793 188.334 113.26V119.42C188.334 120.447 187.867 121.147 186.934 121.52C183.76 123.107 179.607 123.9 174.474 123.9Z" fill="url(#paint2_linear_5061_5131)"/>
                                <path style="transform: translateY(-55.69px);" d="M226.111 123.62C217.618 123.62 211.038 121.147 206.371 116.2C201.798 111.16 199.511 104.3 199.511 95.62V56.98C199.511 55.6733 200.164 55.02 201.471 55.02H208.331C209.544 55.02 210.151 55.6733 210.151 56.98V93.8C210.151 100.52 211.504 105.7 214.211 109.34C216.918 112.887 221.398 114.66 227.651 114.66C231.384 114.66 234.698 113.587 237.591 111.44C240.578 109.293 242.864 106.633 244.451 103.46C246.131 100.287 246.971 97.3 246.971 94.5V56.98C246.971 55.6733 247.624 55.02 248.931 55.02H255.651C256.958 55.02 257.611 55.6733 257.611 56.98V120.54C257.611 121.847 256.958 122.5 255.651 122.5H248.931C247.624 122.5 246.971 121.847 246.971 120.54V112.98C245.011 115.78 242.071 118.253 238.151 120.4C234.231 122.547 230.218 123.62 226.111 123.62Z" fill="url(#paint3_linear_5061_5131)"/>
                                <path style="transform: translateY(-67px);" d="M275.815 122.5C274.508 122.5 273.855 121.847 273.855 120.54V56.98C273.855 55.6733 274.508 55.02 275.815 55.02H282.675C283.888 55.02 284.495 55.6733 284.495 56.98V65.66C286.361 62.3933 289.348 59.6867 293.455 57.54C297.561 55.3933 301.621 54.32 305.635 54.32H308.575C309.695 54.32 310.255 54.9733 310.255 56.28V63.42C310.255 64.6333 309.601 65.24 308.295 65.24C307.828 65.1467 306.428 65.1 304.095 65.1C300.735 65.1 297.561 65.8467 294.575 67.34C291.588 68.8333 289.161 71.0733 287.295 74.06C285.428 76.9533 284.495 80.5 284.495 84.7V120.54C284.495 121.847 283.888 122.5 282.675 122.5H275.815Z" fill="url(#paint4_linear_5061_5131)"/>
                                <path style="transform: translateY(-85.2px);" d="M353.494 124.04C346.027 124.04 339.4 122.5 333.614 119.42C327.827 116.34 323.347 112.14 320.174 106.82C317 101.407 315.414 95.4333 315.414 88.9C315.414 82.0867 316.954 75.9733 320.034 70.56C323.207 65.1467 327.407 60.9467 332.634 57.96C337.954 54.88 343.787 53.34 350.134 53.34C356.947 53.34 362.874 54.9267 367.914 58.1C373.047 61.2733 376.967 65.5667 379.674 70.98C382.38 76.3 383.734 82.18 383.734 88.62C383.734 90.9533 382.334 92.12 379.534 92.12H326.194C327.407 99.3067 330.3 104.907 334.874 108.92C339.54 112.84 345.607 114.8 353.074 114.8C357.087 114.8 361.194 114.147 365.394 112.84C369.687 111.533 373.514 109.667 376.874 107.24C377.34 106.96 377.714 106.82 377.994 106.82C378.647 106.82 378.974 107.38 378.974 108.5V114.52C378.974 115.453 378.554 116.2 377.714 116.76C374.26 119.187 370.387 121.007 366.094 122.22C361.894 123.433 357.694 124.04 353.494 124.04ZM373.374 83.44C372.814 77.4667 370.48 72.52 366.374 68.6C362.36 64.68 356.994 62.72 350.274 62.72C344.207 62.72 338.98 64.54 334.594 68.18C330.3 71.7267 327.594 76.8133 326.474 83.44H373.374Z" fill="url(#paint5_linear_5061_5131)"/>
                                <path style="transform: translateY(-121.75px);" d="M436.354 122.5C435.234 122.5 434.674 121.987 434.674 120.96V25.06C434.674 23.7533 435.281 23.1 436.494 23.1C437.334 23.1 437.987 23.4267 438.454 24.08L480.174 87.08L521.054 24.08C521.521 23.3333 522.221 22.96 523.154 22.96C523.714 22.96 524.181 23.1467 524.554 23.52C524.927 23.8933 525.114 24.4067 525.114 25.06V120.96C525.114 121.987 524.647 122.5 523.714 122.5H516.014C515.547 122.5 515.127 122.36 514.754 122.08C514.381 121.8 514.194 121.427 514.194 120.96V52.22L481.994 102.34C481.527 103.087 480.921 103.46 480.174 103.46C479.427 103.46 478.821 103.087 478.354 102.34L445.594 52.22V120.96C445.594 121.987 445.034 122.5 443.914 122.5H436.354Z" fill="url(#paint6_linear_5061_5131)"/>
                                <path style="transform: translateY(-149.62px);" d="M565.41 124.32C560.743 124.32 556.403 123.34 552.39 121.38C548.47 119.513 545.296 116.853 542.87 113.4C540.536 109.947 539.37 105.98 539.37 101.5C539.37 97.1133 540.536 93.1467 542.87 89.6C545.296 85.96 548.563 83.1133 552.67 81.06C556.776 79.0067 561.21 77.98 565.97 77.98C570.636 77.98 574.743 78.68 578.29 80.08C581.93 81.3867 584.87 83.1133 587.11 85.26L586.97 79.24C586.876 73.5467 585.103 69.3 581.65 66.5C578.29 63.7 573.903 62.3 568.49 62.3C565.41 62.3 562.096 62.86 558.55 63.98C555.096 65.1 552.016 66.4067 549.31 67.9C548.936 68.18 548.516 68.32 548.05 68.32C547.303 68.32 546.93 67.8067 546.93 66.78V60.9C546.93 59.8733 547.396 59.08 548.33 58.52C550.943 56.9333 554.35 55.6267 558.55 54.6C562.75 53.5733 566.856 53.06 570.87 53.06C579.176 53.06 585.663 55.3933 590.33 60.06C594.996 64.7267 597.33 71.4933 597.33 80.36L597.47 120.54C597.47 121.847 596.816 122.5 595.51 122.5H588.79C587.576 122.5 586.97 121.847 586.97 120.54V115.64C585.01 118.16 581.976 120.213 577.87 121.8C573.856 123.48 569.703 124.32 565.41 124.32ZM568.21 115.78C573.063 115.78 577.356 114.427 581.09 111.72C584.823 109.013 586.69 105.467 586.69 101.08C586.69 96.7867 584.823 93.38 581.09 90.86C577.356 88.2467 573.063 86.94 568.21 86.94C563.356 86.94 559.156 88.2467 555.61 90.86C552.156 93.4733 550.43 96.9733 550.43 101.36C550.43 105.747 552.156 109.247 555.61 111.86C559.156 114.473 563.356 115.78 568.21 115.78Z" fill="url(#paint7_linear_5061_5131)"/>
                                <path style="transform: translateY(-180.11px);" d="M637.474 123.9C631.407 123.9 626.74 121.707 623.474 117.32C620.3 112.933 618.714 107.193 618.714 100.1V64.54H607.934C606.627 64.54 605.974 63.9333 605.974 62.72V56.98C605.974 55.6733 606.627 55.02 607.934 55.02H618.714V41.72C618.714 41.2533 618.807 40.88 618.994 40.6C619.274 40.32 619.74 39.9933 620.394 39.62L626.134 36.12C626.694 35.84 627.16 35.7 627.534 35.7C628.654 35.7 629.214 36.54 629.214 38.22V55.02H647.414C648.627 55.02 649.234 55.6733 649.234 56.98V62.72C649.234 63.9333 648.627 64.54 647.414 64.54H629.214V99.54C629.214 104.58 630.24 108.36 632.294 110.88C634.347 113.307 637.194 114.52 640.834 114.52C643.634 114.52 646.387 113.68 649.094 112C649.654 111.813 649.98 111.72 650.074 111.72C650.447 111.72 650.727 111.86 650.914 112.14C651.194 112.42 651.334 112.793 651.334 113.26V119.42C651.334 120.447 650.867 121.147 649.934 121.52C646.76 123.107 642.607 123.9 637.474 123.9Z" fill="url(#paint8_linear_5061_5131)"/>
                                <path style="transform: translateY(-199.95px);" d="M696.494 124.04C689.027 124.04 682.4 122.5 676.614 119.42C670.827 116.34 666.347 112.14 663.174 106.82C660 101.407 658.414 95.4333 658.414 88.9C658.414 82.0867 659.954 75.9733 663.034 70.56C666.207 65.1467 670.407 60.9467 675.634 57.96C680.954 54.88 686.787 53.34 693.134 53.34C699.947 53.34 705.874 54.9267 710.914 58.1C716.047 61.2733 719.967 65.5667 722.674 70.98C725.38 76.3 726.734 82.18 726.734 88.62C726.734 90.9533 725.334 92.12 722.534 92.12H669.194C670.407 99.3067 673.3 104.907 677.874 108.92C682.54 112.84 688.607 114.8 696.074 114.8C700.087 114.8 704.194 114.147 708.394 112.84C712.687 111.533 716.514 109.667 719.874 107.24C720.34 106.96 720.714 106.82 720.994 106.82C721.647 106.82 721.974 107.38 721.974 108.5V114.52C721.974 115.453 721.554 116.2 720.714 116.76C717.26 119.187 713.387 121.007 709.094 122.22C704.894 123.433 700.694 124.04 696.494 124.04ZM716.374 83.44C715.814 77.4667 713.48 72.52 709.374 68.6C705.36 64.68 699.994 62.72 693.274 62.72C687.207 62.72 681.98 64.54 677.594 68.18C673.3 71.7267 670.594 76.8133 669.474 83.44H716.374Z" fill="url(#paint9_linear_5061_5131)"/>
                                <path style="transform: translateY(-221.75px);" d="M741.815 122.5C740.508 122.5 739.855 121.847 739.855 120.54V56.98C739.855 55.6733 740.508 55.02 741.815 55.02H748.675C749.888 55.02 750.495 55.6733 750.495 56.98V65.66C752.361 62.3933 755.348 59.6867 759.455 57.54C763.561 55.3933 767.621 54.32 771.635 54.32H774.575C775.695 54.32 776.255 54.9733 776.255 56.28V63.42C776.255 64.6333 775.601 65.24 774.295 65.24C773.828 65.1467 772.428 65.1 770.095 65.1C766.735 65.1 763.561 65.8467 760.575 67.34C757.588 68.8333 755.161 71.0733 753.295 74.06C751.428 76.9533 750.495 80.5 750.495 84.7V120.54C750.495 121.847 749.888 122.5 748.675 122.5H741.815Z" fill="url(#paint10_linear_5061_5131)"/>
                                <path style="transform: translateY(-241.75px);" d="M793.768 36.12C791.528 36.12 789.662 35.42 788.168 34.02C786.675 32.5267 785.928 30.6133 785.928 28.28C785.928 26.2267 786.675 24.5 788.168 23.1C789.755 21.7 791.622 21 793.768 21C796.008 21 797.875 21.7 799.368 23.1C800.862 24.5 801.608 26.2267 801.608 28.28C801.608 30.6133 800.862 32.5267 799.368 34.02C797.875 35.42 796.008 36.12 793.768 36.12ZM790.408 122.5C789.102 122.5 788.448 121.847 788.448 120.54V56.98C788.448 55.6733 789.102 55.02 790.408 55.02H797.268C798.575 55.02 799.228 55.6733 799.228 56.98V120.54C799.228 121.847 798.575 122.5 797.268 122.5H790.408Z" fill="url(#paint11_linear_5061_5131)"/>
                                <path style="transform: translateY(-259.62px);" d="M839.41 124.32C834.743 124.32 830.403 123.34 826.39 121.38C822.47 119.513 819.296 116.853 816.87 113.4C814.536 109.947 813.37 105.98 813.37 101.5C813.37 97.1133 814.536 93.1467 816.87 89.6C819.296 85.96 822.563 83.1133 826.67 81.06C830.776 79.0067 835.21 77.98 839.97 77.98C844.636 77.98 848.743 78.68 852.29 80.08C855.93 81.3867 858.87 83.1133 861.11 85.26L860.97 79.24C860.876 73.5467 859.103 69.3 855.65 66.5C852.29 63.7 847.903 62.3 842.49 62.3C839.41 62.3 836.096 62.86 832.55 63.98C829.096 65.1 826.016 66.4067 823.31 67.9C822.936 68.18 822.516 68.32 822.05 68.32C821.303 68.32 820.93 67.8067 820.93 66.78V60.9C820.93 59.8733 821.396 59.08 822.33 58.52C824.943 56.9333 828.35 55.6267 832.55 54.6C836.75 53.5733 840.856 53.06 844.87 53.06C853.176 53.06 859.663 55.3933 864.33 60.06C868.996 64.7267 871.33 71.4933 871.33 80.36L871.47 120.54C871.47 121.847 870.816 122.5 869.51 122.5H862.79C861.576 122.5 860.97 121.847 860.97 120.54V115.64C859.01 118.16 855.976 120.213 851.87 121.8C847.856 123.48 843.703 124.32 839.41 124.32ZM842.21 115.78C847.063 115.78 851.356 114.427 855.09 111.72C858.823 109.013 860.69 105.467 860.69 101.08C860.69 96.7867 858.823 93.38 855.09 90.86C851.356 88.2467 847.063 86.94 842.21 86.94C837.356 86.94 833.156 88.2467 829.61 90.86C826.156 93.4733 824.43 96.9733 824.43 101.36C824.43 105.747 826.156 109.247 829.61 111.86C833.156 114.473 837.356 115.78 842.21 115.78Z" fill="url(#paint12_linear_5061_5131)"/>
                                <path style="transform: translateY(-291.75px);" d="M889.819 122.5C888.512 122.5 887.859 121.847 887.859 120.54V22.26C887.859 20.9533 888.512 20.3 889.819 20.3H896.259C897.565 20.3 898.219 20.9533 898.219 22.26V120.54C898.219 121.847 897.565 122.5 896.259 122.5H889.819Z" fill="url(#paint13_linear_5061_5131)"/>
                                <path style="transform: translateY(-329.78px);" d="M934.899 124.18C930.606 124.18 926.546 123.667 922.719 122.64C918.892 121.707 915.952 120.4 913.899 118.72C913.059 118.16 912.639 117.413 912.639 116.48V110.04C912.639 108.547 913.012 107.8 913.759 107.8C914.132 107.8 914.506 107.987 914.879 108.36C917.212 110.413 920.152 112.093 923.699 113.4C927.246 114.613 930.792 115.22 934.339 115.22C937.512 115.22 940.266 114.52 942.599 113.12C945.026 111.627 946.239 109.48 946.239 106.68C946.239 104.253 945.446 101.967 943.859 99.82C942.272 97.6733 939.846 95.9467 936.579 94.64L928.879 91.42C918.239 86.94 912.919 80.64 912.919 72.52C912.919 66.92 914.972 62.44 919.079 59.08C923.186 55.6267 928.599 53.9 935.319 53.9C938.492 53.9 941.619 54.3667 944.699 55.3C947.872 56.14 950.672 57.4467 953.099 59.22C953.659 59.78 953.939 60.3867 953.939 61.04V67.62C953.939 68.18 953.752 68.6 953.379 68.88C953.099 69.0667 952.726 68.9733 952.259 68.6C949.646 66.7333 946.799 65.24 943.719 64.12C940.639 63 937.699 62.44 934.899 62.44C931.632 62.44 928.832 63.3733 926.499 65.24C924.166 67.1067 922.999 69.4867 922.999 72.38C922.999 74.5267 923.979 76.4867 925.939 78.26C927.899 80.0333 930.746 81.7133 934.479 83.3L942.599 86.8C951.839 90.8133 956.459 97.2533 956.459 106.12C956.459 109.48 955.432 112.56 953.379 115.36C951.419 118.16 948.759 120.307 945.399 121.8C942.132 123.387 938.632 124.18 934.899 124.18Z" fill="url(#paint14_linear_5061_5131)"/>
                            </g>
                            <defs>
                                <linearGradient id="paint0_linear_5061_5131" x1="34" y1="0" x2="34" y2="168" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#06038D"/>
                                    <stop offset="1" stop-color="#3E75FF"/>
                                </linearGradient>
                                <linearGradient id="paint1_linear_5061_5131" x1="107" y1="0" x2="107" y2="168" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#06038D"/>
                                    <stop offset="1" stop-color="#3E75FF"/>
                                </linearGradient>
                                <linearGradient id="paint2_linear_5061_5131" x1="169" y1="0" x2="169" y2="168" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#06038D"/>
                                    <stop offset="1" stop-color="#3E75FF"/>
                                </linearGradient>
                                <linearGradient id="paint3_linear_5061_5131" x1="231.5" y1="0" x2="231.5" y2="168" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#06038D"/>
                                    <stop offset="1" stop-color="#3E75FF"/>
                                </linearGradient>
                                <linearGradient id="paint4_linear_5061_5131" x1="291.5" y1="0" x2="291.5" y2="168" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#06038D"/>
                                    <stop offset="1" stop-color="#3E75FF"/>
                                </linearGradient>
                                <linearGradient id="paint5_linear_5061_5131" x1="354" y1="0" x2="354" y2="168" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#06038D"/>
                                    <stop offset="1" stop-color="#3E75FF"/>
                                </linearGradient>
                                <linearGradient id="paint6_linear_5061_5131" x1="485.5" y1="0" x2="485.5" y2="168" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#06038D"/>
                                    <stop offset="1" stop-color="#3E75FF"/>
                                </linearGradient>
                                <linearGradient id="paint7_linear_5061_5131" x1="573" y1="0" x2="573" y2="168" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#06038D"/>
                                    <stop offset="1" stop-color="#3E75FF"/>
                                </linearGradient>
                                <linearGradient id="paint8_linear_5061_5131" x1="631.5" y1="0" x2="631.5" y2="168" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#06038D"/>
                                    <stop offset="1" stop-color="#3E75FF"/>
                                </linearGradient>
                                <linearGradient id="paint9_linear_5061_5131" x1="697" y1="0" x2="697" y2="168" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#06038D"/>
                                    <stop offset="1" stop-color="#3E75FF"/>
                                </linearGradient>
                                <linearGradient id="paint10_linear_5061_5131" x1="757" y1="0" x2="757" y2="168" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#06038D"/>
                                    <stop offset="1" stop-color="#3E75FF"/>
                                </linearGradient>
                                <linearGradient id="paint11_linear_5061_5131" x1="795.5" y1="0" x2="795.5" y2="168" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#06038D"/>
                                    <stop offset="1" stop-color="#3E75FF"/>
                                </linearGradient>
                                <linearGradient id="paint12_linear_5061_5131" x1="847" y1="0" x2="847" y2="168" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#06038D"/>
                                    <stop offset="1" stop-color="#3E75FF"/>
                                </linearGradient>
                                <linearGradient id="paint13_linear_5061_5131" x1="894.5" y1="0" x2="894.5" y2="168" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#06038D"/>
                                    <stop offset="1" stop-color="#3E75FF"/>
                                </linearGradient>
                                <linearGradient id="paint14_linear_5061_5131" x1="937.5" y1="0" x2="937.5" y2="168" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#06038D"/>
                                    <stop offset="1" stop-color="#3E75FF"/>
                                </linearGradient>
                                <clipPath id="clip0_5061_5131">
                                    <rect width="962" height="168" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                        <svg class="star" xmlns="http://www.w3.org/2000/svg" width="29" height="30" viewBox="0 0 29 30" fill="none">
                            <path d="M9.73197 8.92123L14.0073 0.663839C14.2398 0.194208 14.5554 0 14.9335 0C15.3116 0 15.6273 0.190677 15.8597 0.663839C15.8739 0.691854 15.8877 0.72065 15.9012 0.750237L20.1367 8.92806C20.2999 9.2432 20.5489 9.50578 20.8549 9.68553L28.448 14.1456C28.7428 14.3186 28.9336 14.6187 28.9336 15.0036C28.9336 15.3885 28.6387 15.7769 28.3855 15.904L28.3748 15.9067L20.8553 20.3182C20.5488 20.498 20.2995 20.7608 20.1361 21.0764L15.8595 29.3362C15.6271 29.8058 15.3114 30 14.9333 30C14.5552 30 14.2396 29.8093 14.0072 29.3362L9.73049 21.0791C9.56727 20.764 9.31831 20.5014 9.0123 20.3217L1.41922 15.8617C1.12438 15.6886 0.933594 15.3885 0.933594 15.0036C0.933594 14.6187 1.22844 14.2303 1.48166 14.1032L9.01367 9.6789C9.31975 9.49911 9.56876 9.23645 9.73197 8.92123Z" fill="url(#paint0_linear_4017_3016)"/>
                            <defs>
                                <linearGradient id="paint0_linear_4017_3016" x1="14.9336" y1="0" x2="14.9336" y2="30" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#06038D"/>
                                    <stop offset="1" stop-color="#3E75FF"/>
                                </linearGradient>
                            </defs>
                        </svg>
                    </div>
                </div>
            </section>
        </div>
	</div>
</body>
</html>