<script>
    document.addEventListener("DOMContentLoaded", () => {
        const familySite = document.querySelector(".family-site");
        const btnFamily = familySite.querySelector(".btn-family");
        const siteArea = familySite.querySelector(".site-area");

        btnFamily.addEventListener("click", function() {
            familySite.classList.contains("active") ? familySite.classList.remove("active") : familySite.classList.add("active");
        })
    })
</script>
<!-- page-foot -->
	<footer id="footer">
		<div class="footer-inner">
				<div class="footer-head">
						<a href="#" class="footer-subject"><span class="footer-name blind">SK networks</span></a>
				</div>
				<div class="footer-body">
						<div class="section policy">
								<div class="section-wrap">
										<div class="section-head blind">운영 정책</div>
										<div class="section-body">
											<ul class="navi-list">
													<li class="navi-item"><a href="#" class="navi-text">개인정보처리방침</a></li>
													<li class="navi-item"><a href="#" class="navi-text">사이트맵</a></li>
													<li class="navi-item"><a href="#" class="navi-text">제보하기</a></li>
											</ul>
											<ul class="info-list">
												<li class="info-item ncsi"><span class="info-text blind">NCSI</span></li>
												<li class="info-item isms"><a href="#" class="info-text blind" title="정보보호 관리체계(ISMS) 인증 팝업창">정보보호 관리체계 ISMS 인증 마크</a></li>
											</ul>
										</div>
								</div>
						</div>
						<div class="section info">
							<div class="section-wrap">
								<div class="section-head blind">기업정보</div>
								<div class="section-body">
									<ul class="data-list">
										<li class="data-item"><span class="data-text">경기도 수원시 팔달구 매산로52번길 4(매산로2가)</span></li>
										<li class="data-item"><span class="data-text">Tel : 070-7800-2114</span></li>
										<li class="data-item"><span class="data-text">Copyright ⓒ 2024 by SK Networks Co. Ltd. All Rights Reserved</span></li>
									</ul>
								</div>
							</div>
						</div>
                        <!-- 패밀리 사이트 리스트 수급 후 작업예정 -->
						<div class="section family-site">
                            <button title="패밀리 사이트" aria-label="패밀리 사이트" aria-haspopup="true" class="btn-family">
                                <span class="btn-text">패밀리 사이트</span>
                            </button>
                            <div class="site-area">
                                <ul class="site-list">
                                    <li class="site-item">
                                        <a href="https://www.walkerhill.com/grandwalkerhillseoul/" target="_blank" class="site">그랜드 워커힐 서울</a>
                                    </li>
                                    <li class="site-item">
                                        <a href="https://www.walkerhill.com/vistawalkerhillseoul/" target="_blank" class="site">비스타 워커힐 서울</a>
                                    </li>
                                    <li class="site-item">
                                        <a href="https://www.walkerhill.com/darakhyu/t1/kr/?_ga=2.208696274.1937658122.1716172891-198197358.1712136793" target="_blank" class="site">다락휴</a>
                                    </li>
                                    <li class="site-item">
                                        <a href="https://www.sknservice.com/index.do" target="_blank" class="site">SK네트웍스 서비스</a>
                                    </li>
                                    <li class="site-item">
                                        <a href="https://www.skmagic.com/?_ga=2.199319278.1937658122.1716172891-198197358.1712136793" target="_blank" class="site">SK매직</a>
                                    </li>
                                    <li class="site-item">
                                        <a href="https://skelectlink.co.kr/" target="_blank" class="site">SK일렉링크</a>
                                    </li>
                                    <li class="site-item">
                                        <a href="https://www.mintit.co.kr/" target="_blank" class="site">민팃</a>
                                    </li>
                                    <li class="site-item">
                                        <a href="https://www.tire-pick.com/" target="_blank" class="site">타이어픽</a>
                                    </li>
                                    <li class="site-item">
                                        <a href="https://www.en-core.com/" target="_blank" class="site">엔코아</a>
                                    </li>
                                    <li class="site-item">
                                        <a href="https://hico-capital.com/" target="_blank" class="site">하이코캐피탈</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
				</div>
		</div>
</footer>
<!-- //page-foot -->