@charset 'utf-8';

@import 'components';
@import 'common';
@import 'reset';
@import 'guide';
@import 'swiper-bundle.min';


@import 'page/scroll/scroll1';
@import 'page/mix/mix1';
@import 'page/mix/mix2';
