.accordion-display {
    .accordion-item {
        .accordion-head {
            cursor: pointer;
            .btn {
                display: block;
                width: 100%;
                .btn-text {
                    white-space: normal;
                }
            }
        }
        .accordion-body {
            height: 0;
            transition: height 0.3s ease;
            overflow: hidden;
        }
    }
    /* 열림 > 닫힘 */
    &.collapse {
        height: auto;
    }
    &.design1 {
    }

    &.design2 {
        &.case1 {
            .accordion-item {
                .accordion-head {
                    position: relative;
                    padding: 2.4rem 5.6rem 2.4rem 0;
                    background-color: color(system,070);
                    @include web {
                        border-bottom: 1px solid color(neutral,060);
                    }
                    .btn {
                        .btn-text {
                            @include font(small-1x,bold);
                            color: color(typo,020);
                            text-align: left;
                        }
                    }
                    &::after {
                        position: absolute;
                        top: 50%;
                        right: 1.6rem;
                        width: 2.4rem;
                        height: 2.4rem;
                        background: icon(arrow-down1, color(neutral, 090)) no-repeat center center;
                        content: '';
                        background-image: icon(arrow-down1, color(neutral, 090));
                        background-size: 1.4rem 0.9rem;
                        transform: translateY(-50%);
                        transition: 0.3s ease;
                    }
                }
                .accordion-body {
                    .accordion-inner {
                        padding: 2.4rem 0 8rem;
                    }
                    .para {
                        @include font(small-3x,medium);
                        color: color(typo,010);
                        + .para {
                            margin-top: 1.6rem;
                        }
                    }
                }
                &:last-child {
                    .accordion-body {
                        .accordion-inner {
                            padding: 2.4rem 0 0;
                        }
                    }
                }
                &.active {
                    .accordion-head {
                        &::after {
                            transform: translateY(-50%) rotate(-180deg);
                        }
                    }
                }
            }
            @include mobile {
                .accordion-item {
                    .accordion-head {
                        padding: 1.6rem 4.8rem 1.6rem 0;
                        .btn {
                            .btn-text {
                                @include font(small-2x,bold);
                            }
                        }
                        &::after {
                            right: 1.2rem;
                        }
                    }
                    .accordion-body {
                        .accordion-inner {
                            padding: 1.6rem 0 4.8rem;
                        }
                        .para {
                            @include font(small-4x,medium);
                            + .para {
                                margin-top: 1.2rem;
                            }
                        }
                    }
                    &:last-child {
                        .accordion-body {
                            .accordion-inner {
                                padding: 1.6rem 0 0;
                            }
                        }
                    }
                }
            }
        }
    }
}