$icon: (
    sns-insta: (
        size-w: 19,
        size-h: 19,
        paths: 'M13.5596 0C16.5819 0.00025565 18.9997 2.41809 19 5.44043V13.4727C19 16.5816 16.5821 18.9997 13.5596 19H5.52734C2.41825 19 0 16.5817 0 13.4727V5.44043C0.000255791 2.41793 2.41842 0 5.52734 0H13.5596ZM9.5 4.57715C6.73651 4.57715 4.57738 6.90884 4.57715 9.58594C4.57715 12.2632 6.73636 14.5088 9.5 14.5088C12.2636 14.5088 14.4229 12.1773 14.4229 9.5C14.4229 6.82273 12.2636 4.57715 9.5 4.57715ZM9.49902 6.33398C11.2105 6.33417 12.6649 7.78847 12.665 9.5C12.665 11.2116 11.2106 12.6668 9.49902 12.667C7.78731 12.667 6.33203 11.2117 6.33203 9.5C6.33212 7.78836 7.78737 6.33398 9.49902 6.33398ZM14.5957 3.36816C13.9912 3.36816 13.4727 3.88667 13.4727 4.49121C13.4728 5.09563 13.9913 5.61328 14.5957 5.61328C15.2 5.61314 15.7176 5.09554 15.7178 4.49121C15.7178 3.88675 15.2001 3.36831 14.5957 3.36816Z'
    ),
    sns-blog: (
        size-w: 22,
        size-h: 18,
        paths: 'M19.2432 0C20.5348 0.000140253 21.5996 1.07991 21.5996 2.38867V12.0625C21.5996 13.3713 20.5348 14.451 19.2432 14.4512H12.584C12.5767 14.4699 11.1983 18 10.7334 18C10.268 17.9999 8.99306 14.4617 8.98926 14.4512H2.35742C1.06568 14.4512 0 13.3713 0 12.0625V2.38867C0 1.07983 1.06568 0 2.35742 0H19.2432ZM16.7793 5.4375C16.2201 5.4375 15.7408 5.62661 15.3945 6.03125C15.0616 6.43603 14.8887 6.97596 14.8887 7.66406C14.8887 8.27108 15.0347 8.75681 15.3408 9.12109C15.647 9.48533 16.0999 9.67472 16.6191 9.6748C17.1918 9.6748 17.6045 9.52589 17.8975 9.12109H17.9111V9.37793C17.9111 10.0523 17.2058 10.4033 16.6865 10.3496V11.3613C17.299 11.4422 18.0315 11.4151 18.5508 10.916C18.9768 10.4977 19.1631 9.90381 19.1631 8.91895H19.1768V5.53223H17.9111V5.84277H17.8975C17.5912 5.55951 17.2719 5.4375 16.7793 5.4375ZM12.0518 5.49219C11.7723 5.49219 11.4927 5.54551 11.2266 5.65332C10.9603 5.76122 10.7335 5.90983 10.5205 6.09863C10.3075 6.30098 10.1476 6.53062 10.041 6.77344C9.93453 7.0297 9.88091 7.28613 9.88086 7.56934C9.88086 7.85269 9.93448 8.12333 10.041 8.36621C10.1475 8.60891 10.3076 8.83777 10.5205 9.04004C10.7203 9.22894 10.9602 9.37741 11.2266 9.48535C11.4795 9.59323 11.7589 9.64746 12.0518 9.64746C12.3447 9.64746 12.6243 9.5933 12.8906 9.48535C13.157 9.37741 13.3969 9.22894 13.5967 9.04004C13.8095 8.83779 13.9697 8.62235 14.0762 8.36621C14.1827 8.10984 14.2354 7.85269 14.2354 7.56934C14.2353 7.28613 14.1827 7.0297 14.0762 6.77344C13.9563 6.51709 13.8097 6.30102 13.5967 6.09863C13.3969 5.90977 13.1569 5.76125 12.8906 5.65332C12.6244 5.54544 12.3446 5.49219 12.0518 5.49219ZM2.43652 3.77832V9.37793H3.70215V9.1084H3.71582C3.98207 9.32404 4.35477 9.47259 4.86035 9.47266C5.41966 9.47266 5.93954 9.31043 6.27246 8.93262C6.61859 8.55491 6.77825 8.19053 6.77832 7.55664C6.77832 6.97643 6.56481 6.44964 6.28516 6.1123C5.99219 5.77513 5.51315 5.49146 5.06055 5.50488C4.52787 5.53187 4.07475 5.62698 3.72852 5.92383H3.70215V3.77832H2.43652ZM7.08496 5.05957C7.10025 5.06233 7.71086 5.17788 7.71094 5.96387V9.43164H9.00195V6.00488C8.89628 3.79658 7.11392 3.67179 7.08496 3.66992V5.05957ZM4.56836 6.66602C4.82124 6.66602 5.02128 6.74687 5.19434 6.93555C5.36746 7.11096 5.46094 7.32761 5.46094 7.58398C5.46083 7.84017 5.36736 8.05613 5.19434 8.23145C5.02126 8.4067 4.80795 8.50098 4.56836 8.50098C4.32884 8.50088 4.12907 8.40673 3.95605 8.23145C3.78303 8.04264 3.70321 7.84015 3.70312 7.58398C3.70312 7.32761 3.78294 7.11096 3.95605 6.93555C4.11576 6.76031 4.32887 6.66611 4.56836 6.66602ZM17.0332 6.66602C17.2728 6.66602 17.4861 6.74687 17.6592 6.93555C17.8323 7.11096 17.9258 7.32761 17.9258 7.58398C17.9257 7.84017 17.8322 8.05613 17.6592 8.23145C17.4861 8.4067 17.2728 8.50098 17.0332 8.50098C16.7937 8.50088 16.5939 8.40673 16.4209 8.23145C16.2479 8.04264 16.1681 7.84015 16.168 7.58398C16.168 7.32761 16.2478 7.11096 16.4209 6.93555C16.5806 6.76031 16.7937 6.66611 17.0332 6.66602ZM12.041 6.65234C12.2939 6.65234 12.5072 6.73321 12.667 6.92188C12.8401 7.11078 12.9336 7.31394 12.9336 7.57031C12.9335 7.8265 12.84 8.04246 12.667 8.21777C12.4939 8.39303 12.2806 8.4873 12.041 8.4873C11.8015 8.48721 11.6017 8.39306 11.4287 8.21777C11.2557 8.02897 11.1759 7.82648 11.1758 7.57031C11.1758 7.31394 11.2556 7.09729 11.4287 6.92188C11.5884 6.74664 11.8015 6.65244 12.041 6.65234Z'
    ),
    sns-youtube: (
        size-w: 22,
        size-h: 16,
        paths: 'M21.5377 2.50206C21.2826 1.5144 20.5333 0.740741 19.5928 0.477366C17.871 2.35475e-07 11 0 11 0C11 0 4.11304 2.35475e-07 2.40725 0.477366C1.46667 0.740741 0.717392 1.5144 0.462319 2.50206C2.28053e-07 4.27983 0 8 0 8C0 8 2.28053e-07 11.7202 0.462319 13.4979C0.717392 14.4856 1.46667 15.2593 2.40725 15.5226C4.12899 16 11 16 11 16C11 16 17.887 16 19.5928 15.5226C20.5333 15.2593 21.2826 14.4856 21.5377 13.4979C22 11.7202 22 8 22 8C22 8 22 4.27983 21.5377 2.50206ZM8.75217 11.3745V4.62551L14.5072 8L8.75217 11.3745Z'
    ),
    sns-facebook: (
        size-w: 10,
        size-h: 18,
        paths: 'M2.22222 9.9V18H6.41975V10.0125H9.25926L10 6.6375H6.41975C6.41975 6.6375 6.41975 5.0625 6.41975 4.1625C6.41975 3.825 6.54321 3.375 7.16049 3.375C8.02469 3.375 9.1358 3.375 9.1358 3.375V0C9.1358 0 7.28395 0 5.30864 0C4.07407 0 2.22222 1.4625 2.22222 3.15C2.22222 4.8375 2.22222 6.6375 2.22222 6.6375H0V10.0125L2.22222 9.9Z'
    ),
    out-link-01: (
        size-w: 9,
        size-h: 9,
        paths: 'M8.75 8.75H7.25V2.56055L1.06348 8.74707L0.00292969 7.68652L6.18945 1.5H0V0H8.75V8.75Z'
    ),
    arrow-up-01: (
        size-w: 16,
        size-h: 9,
        paths: 'M1.71004 8.37373C1.31957 8.7642 0.686511 8.7641 0.295974 8.37373C-0.0944749 7.9832 -0.0945253 7.35017 0.295974 6.95967L6.96199 0.292679C7.35238 -0.0977118 7.98549 -0.0974446 8.37605 0.292679L15.043 6.95967C15.4336 7.35019 15.4336 7.98321 15.043 8.37373C14.6525 8.76426 14.0195 8.76426 13.629 8.37373L7.67 2.41475L1.71004 8.37373Z'
    ),
    arrow-down-01: (
        size-w: 16,
        size-h: 9,
        paths: 'M13.626 0.292908C14.0164 -0.0975623 14.6495 -0.0974538 15.04 0.292908C15.4305 0.683438 15.4305 1.31647 15.04 1.70697L8.37402 8.37396C7.98363 8.76435 7.35052 8.76409 6.95996 8.37396L0.292969 1.70697C-0.0975555 1.31645 -0.0975555 0.683432 0.292969 0.292908C0.683493 -0.0976166 1.31651 -0.0976166 1.70703 0.292908L7.66602 6.25189L13.626 0.292908Z'
    ),
    arrow-up-02: (
        size-w: 14,
        size-h: 8,
        paths: 'M13.7071 7.70711C13.3166 8.09763 12.6834 8.09763 12.2929 7.70711L7 2.41421L1.70711 7.70711C1.31658 8.09763 0.683417 8.09763 0.292893 7.70711C-0.0976315 7.31658 -0.0976315 6.68342 0.292893 6.29289L6.29289 0.292893C6.68342 -0.0976315 7.31658 -0.0976315 7.70711 0.292893L13.7071 6.29289C14.0976 6.68342 14.0976 7.31658 13.7071 7.70711Z'
    ),
    arrow-down-02: (
        size-w: 14,
        size-h: 8,
        paths: 'M13.7071 0.292893C13.3166 -0.0976311 12.6834 -0.0976311 12.2929 0.292893L7 5.58579L1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0976315 0.683417 -0.0976315 1.31658 0.292893 1.70711L6.29289 7.70711C6.68342 8.09763 7.31658 8.09763 7.70711 7.70711L13.7071 1.70711C14.0976 1.31658 14.0976 0.683417 13.7071 0.292893Z'
    ),
);

@function icon($name, $color) {
    $icon-map: map-get($icon, $name);

    @if $icon-map == null {
      @error "❌ Icon '#{$name}' is not defined in $icon map.";
    }

    $size-w: map-get($icon-map, 'size-w');
    $size-h: map-get($icon-map, 'size-h');
    $paths: map-get($icon-map, 'paths');

    // 문자열일 경우 반복용 리스트로 감싸기
    @if type-of($paths) != 'list' {
      $paths: ($paths,);
    }

    $svg-paths: '';

    @each $path in $paths {
      $r: red($color);
      $g: green($color);
      $b: blue($color);

      $svg-paths: "#{$svg-paths}%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='#{$path}' fill='rgb(#{$r},#{$g},#{$b})'/%3E";
    }

    $data: "data:image/svg+xml,%0A%3Csvg width='#{$size-w}' height='#{$size-h}' viewBox='0 0 #{$size-w} #{$size-h}' fill='none' xmlns='http://www.w3.org/2000/svg'%3E#{$svg-paths}%3C/svg%3E%0A";

    @return url($data);
  }
