<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_guide.head.ejs', {
	pageJavascript: ''
}) %>
</head>
<body>
<div id="wrap">
	<div id="guide-list">
		<!-- page-body -->
		<div class="page-body">
			<!-- local-head -->
			<div class="local-head blind">
				<h2 class="local-subject">
					<span class="local-name">scroll 1</span>
				</h2>
			</div>
			<!-- //local-head -->
			<!-- local-body -->
			<div class="local-body scroll">
				<!-- section -->
				<section class="section story-01">
					<div class="section-wrap">
						<div class="section-head">MIX - Basic 01</div>
						<div class="section-body">
							<div class="data-list logo">
								<div class="data-item bg">
									<svg width="auto" height="auto" viewBox="0 0 1392 708" fill="none" xmlns="http://www.w3.org/2000/svg">
										<g opacity="0.16">
											<mask id="mask0_3111_6469" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="1392" height="708">
												<path d="M1229.08 0H24C10.7452 0 0 10.7452 0 24V527.958C0 545.993 7.16426 563.289 19.9167 576.042L131.958 688.083C144.711 700.836 162.007 708 180.041 708H1367.25C1380.5 708 1391.25 697.255 1391.25 684V284.25C1391.25 270.995 1380.5 260.25 1367.25 260.25H538.905C532.561 260.25 526.475 262.761 521.978 267.235L487.824 301.213C483.296 305.717 480.75 311.841 480.75 318.228V369.25V425.25C480.75 438.505 491.495 449.25 504.75 449.25H715.985C722.394 449.25 728.536 446.687 733.044 442.131L766.456 408.369C770.964 403.813 777.106 401.25 783.515 401.25H1179C1192.25 401.25 1203 411.995 1203 425.25V449.25V495C1203 508.255 1192.25 519 1179 519H269.816C263.451 519 257.346 516.471 252.846 511.971L195.279 454.404C190.779 449.904 188.25 443.799 188.25 437.434V213C188.25 199.745 198.995 189 212.25 189H1368C1381.25 189 1392 178.255 1392 165V162.439C1392 156.06 1389.46 149.943 1384.94 145.44L1246.02 7.00025C1241.53 2.51723 1235.43 0 1229.08 0Z" fill="#6B727E"/>
											</mask>
											<g mask="url(#mask0_3111_6469)">
												<rect x="-3" width="1397" height="759" fill="#6B727E"/>
											</g>
										</g>
									</svg>
								</div>
								<div class="data-item val">
									<svg width="auto" height="auto" viewBox="0 0 1392 708" fill="none" xmlns="http://www.w3.org/2000/svg">
										<g opacity="0.16">
											<mask id="mask0_3111_6469" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="1392" height="708">
												<path d="M1229.08 0H24C10.7452 0 0 10.7452 0 24V527.958C0 545.993 7.16426 563.289 19.9167 576.042L131.958 688.083C144.711 700.836 162.007 708 180.041 708H1367.25C1380.5 708 1391.25 697.255 1391.25 684V284.25C1391.25 270.995 1380.5 260.25 1367.25 260.25H538.905C532.561 260.25 526.475 262.761 521.978 267.235L487.824 301.213C483.296 305.717 480.75 311.841 480.75 318.228V369.25V425.25C480.75 438.505 491.495 449.25 504.75 449.25H715.985C722.394 449.25 728.536 446.687 733.044 442.131L766.456 408.369C770.964 403.813 777.106 401.25 783.515 401.25H1179C1192.25 401.25 1203 411.995 1203 425.25V449.25V495C1203 508.255 1192.25 519 1179 519H269.816C263.451 519 257.346 516.471 252.846 511.971L195.279 454.404C190.779 449.904 188.25 443.799 188.25 437.434V213C188.25 199.745 198.995 189 212.25 189H1368C1381.25 189 1392 178.255 1392 165V162.439C1392 156.06 1389.46 149.943 1384.94 145.44L1246.02 7.00025C1241.53 2.51723 1235.43 0 1229.08 0Z" fill="#6B727E"/>
											</mask>
											<g mask="url(#mask0_3111_6469)">
												<rect x="-3" width="1397" height="759" fill="#6B727E"/>
											</g>
										</g>
									</svg>
								</div>
							</div>
							<div class="data-list line">
								<div class="data-item"></div>
								<div class="data-item"></div>
								<div class="data-item"></div>
								<div class="data-item"></div>
								<div class="data-item"></div>
							</div>
						</div>
					</div>
				</section>
				<!-- //section -->
			</div>
			<!-- //local-body -->
		</div>
		<!-- //page-body -->
	</div>
</div>
<script type="text/javascript">

</script>
</body>
</html>