.business {
    .content-body {
        padding-top: 16rem;
        .section {
            .section-head {
                ~.section-util {
                    padding-top: 8rem;
                }
            }
            &.business-profile {
                .data-display {
                    .data-list {
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        .data-item {
                            position: relative;
                            width: calc((100% - 4rem) / 3);
                            height: 19.8rem;
                            border-radius: 1.6rem;
                            overflow: hidden;
                            background-repeat: no-repeat;
                            background-size: cover;
                            >a {
                                display: inline-block;
                                width: 100%;
                                height: 100%;
                                .data-title {
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    color: color(system, 070);
                                    transform: translate(-50%, -50%);
                                    @include font(small-1x, bold);
                                }
                            }
                            &::before {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                content: '';
                                background-color: color(system, 100, 0.5);
                                pointer-events: none;
                            }
                            &:nth-child(n+4) {
                                margin-top: 2rem;
                            } 
                            &.invest {
                                background-image: url("../../assets/images/business/profile1-figure.jpg");
                            }
                            &.infocom {
                                background-image: url("../../assets/images/business/profile2-figure.jpg");
                            }
                            &.hotel {
                                background-image: url("../../assets/images/business/profile3-figure.jpg");
                            }
                            &.rental {
                                background-image: url("../../assets/images/business/profile4-figure.jpg");
                            }
                            &.mobility {
                                background-image: url("../../assets/images/business/profile5-figure.jpg");
                            }
                            &.trading {
                                background-image: url("../../assets/images/business/profile6-figure.jpg");
                            }
                        }
                    }
                    @include mobile {
                        .data-list {
                            .data-item {
                                width: calc((100% - 1.6rem) / 2);
                                height: 9rem;
                                border-radius: 0.8rem;
                                >a {
                                    .data-title {
                                        width: 100%;
                                        text-align: center;
                                        @include font(small-4x, bold);
                                    }
                                }
                                &:nth-child(n+3) {
                                    margin-top: 1.6rem;
                                } 
                            }
                        }
                    }
                }
            }
            &.major {
                position: relative;
                padding: 8rem 0;
                .section-head {
                    text-align: center;
                }
                &::after {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    width: 100vw;
                    height: 100%;
                    content: "";
                    background-color: color(secondary, 070);
                    transform: translateX(-50%);
                    z-index: -1;
                }
            }
            +.section {
                margin-top: 16rem;
            }
            .comment {
                display: inline-block;
            }
        }
    }
    &.overview {
        .section {
            width: 100%;
            margin: 0 auto;
            max-width: 120rem;
            .section-head {
                position: relative;
                padding-bottom: 46.4rem;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: bottom;
                &::after {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 40rem;
                    content: '';
                    @include mobile {
                        height: 18rem;
                    }
                }
            }
            .section-body {
                .board-list {
                    display: block;
                    .board-item {
                        width: 100%;
                        border-radius: 16px;
                        background-color: color(system, 070);
                        box-shadow: 0 0.1336rem 0.5342rem 0 color(system, 100, 0.1);
                        .board-wrap {
                            padding: 4rem;
                            flex-direction: column;
                            .board-head {
                                .board-name {
                                    display: flex;
                                    color: color(primary, 080);
                                    align-items: center;
                                    @include font(small-1x, bold);
                                    .btn {
                                        margin-left: 2.4rem;
                                    }
                                    +.board-summary {
                                        padding-top: 2.4rem;
                                    }
                                }
                                .board-summary {
                                    color: color(typo, 010);
                                    @include font(small-3x, medium);
                                }
                                ~.board-body { 
                                    padding-top: 4rem;
                                }
                                ~.board-util {
                                    padding-top: 4rem;
                                }
                            }
                            .board-body {
                                .board-list-sub {
                                    display: flex;
                                    flex-wrap: wrap;
                                    .board-item-sub {
                                        display: flex;
                                        width: calc((100% - 2rem) / 2);
                                        padding: 2.4rem;
                                        flex-direction: column;
                                        justify-content: center;
                                        border-radius: .8rem;
                                        background-color: color(secondary, 070);
                                        .board-name-sub {
                                            display: inline-block;
                                            color: color(typo, 005);
                                            @include font(small-4x, bold);
                                            +.para {
                                                padding-top: 1.2rem;
                                            }
                                        }
                                        .para {
                                            color: color(typo, 010);
                                            @include font(small-3x, bold);
                                        }
                                        &:nth-child(2n) {
                                            margin-left: 2rem;
                                        }
                                        &:nth-child(n+3) {
                                            margin-top: 2rem;
                                        }
                                    }
                                }
                            }
                        }
                        +.board-item {
                            margin-top: 4rem;
                        }
                    }
                }

            }
            &.business-profile {
                .section-head {
                    padding-bottom: 0;
                }
            }
            &.invest {
                .section-head {
                    &::after {
                        background: url("../../assets/images/business/bg-invest-pc.jpg") no-repeat center/cover;
                        clip-path: inset(0% 0% 0% 0% round 1.6rem);
                    }
                }
            }
            &.infocom {
                .section-head {
                    &::after {
                        background: url("../../assets/images/business/bg-infocom-pc.jpg") no-repeat center/cover;
                        clip-path: inset(0% 0% 0% 0% round 1.6rem);
                    }
                }
            }
            &.hotel {
                .section-head {
                    &::after {
                        background: url("../../assets/images/business/bg-hotel-pc.jpg") no-repeat center/cover;
                        clip-path: inset(0% 0% 0% 0% round 1.6rem);
                    }
                }
            }
            &.rental {
                .section-head {
                    &::after {
                        background: url("../../assets/images/business/bg-rental-pc.jpg") no-repeat bottom/cover;
                        clip-path: inset(0% 0% 0% 0% round 1.6rem);
                    }
                }
            }
            &.mobility {
                .section-head {
                    &::after {
                        background: url("../../assets/images/business/bg-mobility-pc.jpg") no-repeat center/cover;
                        clip-path: inset(0% 0% 0% 0% round 1.6rem);
                    }
                }
            }
            &.trading {
                .section-head {
                    &::after {
                        background: url("../../assets/images/business/bg-trading-pc.jpg") no-repeat center/cover;
                        clip-path: inset(0% 0% 0% 0% round 1.6rem);
                    }
                }
            }
        }
        @include mobile {
            .section {
                .section-head {
                    padding-bottom: 21.2rem;
                }
                .section-body {
                    .board-list {
                        .board-item {
                            .board-wrap {
                                padding: 2.4rem;
                                .board-head {
                                    .board-name {
                                        justify-content: space-between;
                                        @include font(small-2x, bold);
                                    }
                                    .board-summary {
                                        @include font(small-4x, medium);
                                    }
                                    ~.board-body {
                                        padding-top: 3.2rem;
                                    }
                                    ~.board-util {
                                        padding-top: 3.2rem;
                                    }
                                }
                                .board-body {
                                    .board-list-sub {
                                        flex-direction: column;
                                        .board-item-sub {
                                            width: 100%;
                                            padding: 1.6rem;
                                            .board-name-sub {
                                                @include font(small-6x, bold);
                                                +.para {
                                                    padding-top: 0.8rem;
                                                }
                                            }
                                            .para {
                                                @include font(small-4x, bold);
                                            }
                                            +.board-item-sub {
                                                margin-top: 0.8rem;
                                                margin-left: 0;
                                            }
                                        }
                                    }
                                }
                            }
                            +.board-item {
                                margin-top: 2.4rem;
                            }
                        }
                    }
                }
                &.invest {
                    .section-head {
                        &::after {
                            background: url("../../assets/images/business/bg-invest-mo.jpg") no-repeat center/cover;
                            clip-path: inset(0% 0% 0% 0% round 0.8rem);
                        }
                    }
                }
                &.infocom {
                    .section-head {
                        &::after {
                            background: url("../../assets/images/business/bg-infocom-mo.jpg") no-repeat center/cover;
                            clip-path: inset(0% 0% 0% 0% round 0.8rem);
                        }
                    }
                }
                &.hotel {
                    .section-head {
                        &::after {
                            background: url("../../assets/images/business/bg-hotel-mo.jpg") no-repeat center/cover;
                            clip-path: inset(0% 0% 0% 0% round 0.8rem);
                        }
                    }
                }
                &.rental {
                    .section-head {
                        &::after {
                            background: url("../../assets/images/business/bg-rental-mo.jpg") no-repeat center/cover;
                            clip-path: inset(0% 0% 0% 0% round 0.8rem);
                        }
                    }
                }
                &.mobility {
                    .section-head {
                        &::after {
                            background: url("../../assets/images/business/bg-mobility-mo.jpg") no-repeat center/cover;
                            clip-path: inset(0% 0% 0% 0% round 0.8rem);
                        }
                    }
                }
                &.trading {
                    .section-head {
                        &::after {
                            background: url("../../assets/images/business/bg-trading-mo.jpg") no-repeat center/cover;
                            clip-path: inset(0% 0% 0% 0% round 0.8rem);
                        }
                    }
                }
            }
        }
    }
    &.globalInvestment {
        .business-overview {
            background-image: url('../images/business/thumb-01-pc.png');
            @include mobile {
                background-image: url('../images/business/thumb-01-mo.png');
            }
        }
    }
    &.infocom {
        .business-overview {
            background-image: url('../images/business/thumb-03-pc.png');
            @include mobile {
                background-image: url('../images/business/thumb-03-mo.png');
            }
        }
    }
    &.hotel {
        .business-overview {
            background-image: url('../images/business/thumb-08-pc.png');
            @include mobile {
                background-image: url('../images/business/thumb-08-mo.png');
            }
        }
    }
    &.skmagic {
        .business-overview {
            background-image: url('../images/business/thumb-13-pc.png');
            @include mobile {
                background-image: url('../images/business/thumb-13-mo.png');
            }
        }
    }
    &.carRental {
        .business-overview {
            background-image: url('../images/business/thumb-15-pc.png');
            @include mobile {
                background-image: url('../images/business/thumb-15-mo.png');
            }
        }
    }
    &.electlink {
        .business-overview {
            background-image: url('../images/business/thumb-20-pc.png');
            @include mobile {
                background-image: url('../images/business/thumb-20-mo.png');
            }
        }
    }
    &.speedmate {
        .business-overview {
            background-image: url('../images/business/thumb-23-pc.png');
            @include mobile {
                background-image: url('../images/business/thumb-23-mo.png');
            }
        }
    }
    &.globalTrading {
        .business-overview {
            background-image: url('../images/business/thumb-28-pc.png');
            @include mobile {
                background-image: url('../images/business/thumb-28-mo.png');
            }
        }
    }
    &.mintit {
        .section-aside {
            margin-top: 6.4rem;
            @include mobile {
                margin-top: 3.2rem;
            }
            .data-list {
                display: flex;
                padding: 1.6rem 2.4rem;
                border: .1rem solid color(neutral, 030);
                border-radius: .8rem;
                @include mobile {
                    padding: 1.2rem;
                    flex-direction: column;
                }
                .data-item {
                    margin: 1.6rem 2.4rem;
                    background-repeat: no-repeat;
                    padding-top: 7.2rem;
                    .data-name {
                        display: inline-block;
                        color: color(typo, 020);
                        @include font(small-4x, bold);
                        @include mobile {
                            @include font(small-5x, bold);
                        }
                        +.para {
                            padding-top: 1.6rem;
                            @include mobile {
                                padding-top: 1.2rem;
                            }
                        }
                    }
                    .para {
                        color: color(typo, 010);
                        @include font(small-5x, medium);
                        @include mobile {
                            @include font(small-6x, medium);
                        }
                    }
                    @include web {
                        +.data-item {
                            margin-left: 4.8rem;
                        }
                    }
                    @include mobile {
                        margin: 1.6rem 2.4rem 2.4rem 2.4rem;
                        padding-top: 6.4rem;
                        +.data-item {
                            margin-top: 2.4rem;
                        }
                    }
                    &.ai {
                        background-image: url('../images/business/icon-mintit1.svg');
                    }
                    &.atm {
                        background-image: url('../images/business/icon-mintit2.svg');
                    }
                    &.delete {
                        background-image: url('../images/business/icon-mintit3.svg');
                    }
                }
            }
        }
        .business-overview {
            background-image: url('../images/business/thumb-29-pc.png');
            @include mobile {
                background-image: url('../images/business/thumb-29-mo.png');
            }
        }
    }
    &.encore {
        .business-overview {
            background-image: url('../images/business/thumb-31-pc.png');
            @include mobile {
                background-image: url('../images/business/thumb-31-mo.png');
            }
        }
    }
    @include mobile {
        .content-body {
            padding-top: 8rem;
            .section {
                .section-head {
                    ~.section-util {
                        padding-top: 4.8rem;
                    }
                }
                &.major {
                    padding: 4.8rem 0;
                }
                +.section {
                    margin-top: 8rem;
                }
            }
        }
    }
}