<!DOCTYPE html>
<html lang="ko">

<head>
	<%-include('../_templates/_guide.head.ejs', {
		pageJavascript: ''
	}) %>
	<script src="https://unpkg.com/@studio-freight/lenis@1.0.42/dist/lenis.min.js"></script> 

	<script>
		const lenis = new Lenis()

		function raf(time) {
			lenis.raf(time)
			requestAnimationFrame(raf)
		}

		requestAnimationFrame(raf)

		document.addEventListener('DOMContentLoaded', function() {
			introEvent();

			//intro
			function introEvent() {
				//swiper 연동
				var introMainSwiper1 = new Swiper('.intro-main-swiper .swiper-container', {
					pagination: {
						el: '.swiper-pagination',
						type: 'bullets',
						clickable: true,
					},
					speed: 800,
					loop: true, // 루프 true아니면 슬라이드가 반대방향으로 넘어감(;;)
					autoplay: false, // 기본적으로 autoplay는 비활성화
					a11y: true
				});
				var introSubSwiper2 = new Swiper('.intro-sub-swiper .swiper-container', {
					spaceBetween: 0,
					speed: 800,
					loop: true,
					autoplay: false, // 기본적으로 autoplay는 비활성화
					a11y: true
				});

				introMainSwiper1.controller.control = introSubSwiper2;
				introSubSwiper2.controller.control = introMainSwiper1;

				// active1,2
				const introSection = document.querySelector('.section.intro');

				setTimeout(() => {introSection.classList.add('active1')}, 500);
				setTimeout(() => {introSection.classList.add('active2')}, 1000);

				// active3, autoplay 활성화
				ScrollTrigger.create({
					trigger: introSection,
					start: '10px top',
					end: 'bottom top',
					onEnter: () => {
						introSection?.classList.add('active3');
						introMainSwiper1.params.autoplay = { delay: 2500 }; //재설정하여 자동 재생 기능 활성화
						introSubSwiper2.params.autoplay = { delay: 2500 };
						introMainSwiper1.autoplay.start();
						introSubSwiper2.autoplay.start();
					},
					onLeaveBack: () => {
						introSection?.classList.remove('active3');
						introMainSwiper1.autoplay.stop();
						introSubSwiper2.autoplay.stop();
					},
				})
			}

			// 돌아가는~
			function technicalEvent() {}
		});
	</script>
</head>

<body class="ahnlab-main-again" id="body">
	<div id="wrap">
		<div class="ahn-main" id="main">
			<div class="main-inner">
				<section class="section intro">
					<div class="section-inner">
						<div class="section-wrap">
							<div class="intro-main-swiper">
								<div class="swiper-container">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<em class="slide-subject">AhnLab PLUS로<br> 지속가능성을 더하다</em>
										</div>
										<div class="swiper-slide">
											<em class="slide-subject">안랩, 4년 연속<br> 올해의 엔드포인트<br> 보안 기업 선정</em>
										</div>
										<div class="swiper-slide">
											<em class="slide-subject">AhnLab CPP<br> 보안 제품 등록</em>
										</div>
									</div>
									<div class="swiper-pagination"></div>
								</div>
							</div>
							<div class="intro-sub-swiper">
								<div class="swiper-container">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<div class="slide-wrap">
												<div class="slide-figure">
													<img src="https://place-hold.it/592x333?text=New+Text&bold=true" alt="">
												</div>
												<div class="slide-body">
													<p class="para">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, beatae.</p>
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="slide-wrap">
												<div class="slide-figure">
													<img src="https://place-hold.it/592x333?text=New+Text&bold=true" alt="">
												</div>
												<div class="slide-body">
													<p class="para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi, amet.</p>
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="slide-wrap">
												<div class="slide-figure">
													<img src="https://place-hold.it/592x333?text=New+Text&bold=true" alt="">
												</div>
												<div class="slide-body">
													<p class="para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem, a.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="section technical">
					<div class="section-inner">
						<div class="section-wrap">
							<div class="section-head">
								
							</div>
							<div class="section-body">
	
							</div>
						</div>
					</div>
				</section>
				<section class="section statistics">
					<div class="section-inner">
						<div class="section-wrap">
							<div class="section-head">
	
							</div>
							<div class="section-body">
	
							</div>
						</div>
					</div>
				</section>
				<section class="section plus">
					<div class="section-inner">
						<div class="section-wrap">
							<div class="section-head">
	
							</div>
							<div class="section-body">
	
							</div>
						</div>
					</div>
				</section>
				<section class="section solutions">
					<div class="section-inner">
						<div class="section-wrap">
							<div class="section-head">
	
							</div>
							<div class="section-body">
	
							</div>
						</div>
					</div>
				</section>
				<section class="section cooperative">
					<div class="section-inner">
						<div class="section-wrap">
							<div class="section-head">
	
							</div>
							<div class="section-body">
	
							</div>
						</div>
					</div>
				</section>
				<section class="section industry">
					<div class="section-inner">
						<div class="section-wrap">
							<div class="section-head">
	
							</div>
							<div class="section-body">
	
							</div>
						</div>
					</div>
				</section>
				<section class="section hot-topic">
					<div class="section-inner">
						<div class="section-wrap">
							<div class="section-head">
	
							</div>
							<div class="section-body">
	
							</div>
						</div>
					</div>
				</section>
				<section class="section related-link">
					<div class="section-inner">
						<div class="section-wrap">
							<div class="section-head">
	
							</div>
							<div class="section-body">
	
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</body>

</html>