<!DOCTYPE html>
<html lang="ko">

<head>
	<%-include('../_templates/_guide.head.ejs', {
		pageJavascript: ''
	}) %>
	<script src="https://unpkg.com/@studio-freight/lenis@1.0.42/dist/lenis.min.js"></script> 

	<script>
		document.addEventListener('DOMContentLoaded', function() {
			initializeLenis();
			header();
		});

		let lenisBody, lenisNav; // lenisBody(body안에서 lenis 동작), lenisNav(site-navi안에서 lenis 동작 : 햄버거 버튼 활성화)

		// lenis
		function initializeLenis() {
			const bodyWrapper = document.querySelector('body'); // body
			const siteNaviWrapper = document.querySelector('.site-navi'); // site-navi 확인

			// bodyWrapper를 사용하여 lenisBody 초기화
			if (bodyWrapper instanceof Element) { // bodyWrapper가 '유효한 DOM 요소일 경우'에만 실행
				lenisBody = new Lenis({
					wrapper: bodyWrapper,
					content: bodyWrapper.querySelector('#wrap') // wrapper, content가 서로 달라야 함
				});
			} else {
				// console.error("bodyWrapper 요소를 찾을 수 없슴다!");
			}
			// 활성화된 site-navi가 존재하는 경우에만 lenisNav 초기화
			if (siteNaviWrapper instanceof Element) {
				lenisNav = new Lenis({
					wrapper: siteNaviWrapper,
					content: siteNaviWrapper.querySelector('.gnb-list')
				});
			} else {
				// console.error(".site-navi.active 요소를 찾을 수 없슴다!");
			}
			function raf(time) {
				(lenisBody && lenisBody.raf(time)) || (lenisNav && lenisNav.raf(time));
				requestAnimationFrame(raf);
			}
			requestAnimationFrame(raf);
		}

		// header
		function header() {
			const _BODY = document.querySelector("body");
			const _HEADER = document.querySelector("header");
			const siteNavigation = document.querySelector('.site-navi'); //#siteNavigation
			const gnbItems = document.querySelectorAll('.gnb-item');
			const lnbLists = document.querySelectorAll('.lnb-list');
			const navToggleBtn = document.querySelector('.goto-site-navi'); //햄버거 버튼
			let isMobile = window.innerWidth < 1024;
			let isTabPressed = false; //tab키 이동 체크
			let isFocusActive = false; //Focus 상태 체크

			//PC
			const toggleLnbLists = (action) => {
				lnbLists.forEach(lnbList => lnbList.classList[action]('active'));
				//action이 'add'일 경우: lnbList.classList.add('active')가 호출, action이 'remove'일 경우: lnbList.classList.remove('active')가 호출
			}
			const updateFocusState = (state) => {
				isFocusActive = state; //포커스 상태를 나타내는 변수 업데이트
				toggleLnbLists(state ? 'add' : 'remove'); //'add' 또는 'remove'에 따라 lnb-list 활성화 상태 조정!
				siteNavigation.classList[state ? 'add' : 'remove']('focus-in'); //'focus-in' 클래스를 상태에 따라 추가 또는 제거
			};
			const handleMouseEnter = () => { //mouseenter
				if (!isMobile && !isFocusActive) { //PC일때, focus가 활성화되지 않은 경우
					toggleLnbLists('add'); //모든 lnb-list에 active 추가
				}
			};
			const handleMouseLeave = () => { //mouseleave
				if (!isMobile && !isFocusActive) { //PC일때, focus가 활성화되지 않은 경우
					toggleLnbLists('remove'); //모든 lnb-list에 active 제거
				}
			};
			const handleFocusIn = () => { //focusin
				if (!isMobile && isTabPressed) { //PC일때, tab키로 이동이 true일 때
					updateFocusState(true); //isFocusActive가 true, toggleLnbLists의 state가 add를 인자로 받아 lnb-list에 active붙임, siteNavigation에 focus-in붙임
				}
			};
			const handleFocusOut = () => { //focusout
				setTimeout(() => { //콜백을 0ms 지연시켜. document.activeElement를 최신화할 시간을 확보! 정확한 activeElement를 확인하기 위해.
					if (!siteNavigation.contains(document.activeElement)) { //document.activeElement : 현재 포커스를 받고 있는 활성 요소 반환. 활성요소가 site-navi내에 있지 않을 때! 즉 site-navi의 외부로 focus가 이동했을 때!
						updateFocusState(false);
					}
				}, 0);
			};

			document.addEventListener('keydown', (e) => { //tab키 이동 시 
				if (e.key === 'Tab') isTabPressed = true;
			});
			document.addEventListener('mousedown', () => { //마우스 클릭 시
				isTabPressed = false;
			});

			//PC : 마우스, 포커스 기능
			siteNavigation.addEventListener('mouseenter', handleMouseEnter);
			siteNavigation.addEventListener('mouseleave', handleMouseLeave);
			siteNavigation.addEventListener('focusin', handleFocusIn);
			siteNavigation.addEventListener('focusout', handleFocusOut);

			//모바일 : 햄버거 메뉴 열기/닫기
			navToggleBtn.addEventListener('click', (e) => {
				e.preventDefault();
				const isActive = siteNavigation.classList.toggle('active'); //siteNavigation의 active 활성 상태
				navToggleBtn.classList.toggle('active', isActive);
				_HEADER.classList.toggle('open', isActive);
				_BODY.classList.toggle('goto-site-navi', isActive);
				if (isActive) {
					lenisBody.stop(); //lenisBody 일시 중지
				} else {
					setTimeout(() => {
						_BODY.classList.remove("goto-site-navi"); // 모바일 site-navi 스크롤이 사라지기 전에 body 스크롤이 등장해서 추가하게 됨.
					}, 200);
					lenisBody.start(); //lenisBody 다시 활성화
				}
			})

			//모바일 : gnb-name 클릭해서 lnb-list 열고닫기
			gnbItems.forEach((gnbItem) => {
				const lnbList = gnbItem.querySelector('.lnb-list');
				const gnbName = gnbItem.querySelector('.gnb-name');
				gnbName.addEventListener('click', (e) => {
					if (!isMobile) return; //pc에서는 동작 안 됨
					e.preventDefault();
					const isActive = lnbList.classList.toggle('active');
					if (isActive) { //lnbList에 active 있음
						lnbList.style.height = '0px'; //시작 시 높이 0임
						requestAnimationFrame(() => { //requestAnimationFrame : 브라우저의 애니메이션을 최적화하기 위해 사용하는 JavaScript의 기본 메서드, 애니메이션을 부드럽게 만들어줌
							lnbList.style.height = `${lnbList.scrollHeight}px`; //선택된 lnb-list 높이로 설정
						})
					} else {
						lnbList.style.height = `${lnbList.scrollHeight}px`; //현재 높이 설정
						requestAnimationFrame(() => {
							lnbList.style.height = '0px'; //높이 0으로
						})
						lnbList.addEventListener('transitionend', function onTransitionEnd() { //css전환(transtion)이 끝났을 때
							lnbList.style.height = ''; // 애니메이션 후 height 속성을 초기화
							lnbList.removeEventListener('transitionend', onTransitionEnd); //더 이상 필요 없는 이벤트 리스너를 제거
						})
					}
					//다른 lnb-list들 닫기
					gnbItems.forEach((item) => {
						const otherLnbList = item.querySelector('.lnb-list');
						if(otherLnbList !== lnbList) { //otherLnbList : 현재 클릭한 lnb-list 아님, lnbList : 현재 클릭한 lnb-list
							otherLnbList.classList.remove('active');
							otherLnbList.style.height = '0px';
						}
					})
				})
			})

			//resize : 모바일 메뉴 및 모든 lnb-list 닫기
			window.addEventListener('resize', () => {
				const newIsMobile = window.innerWidth < 1024;
				if (newIsMobile !== isMobile) { //isMobile : 이전 화면 상태 기억
					isMobile = newIsMobile; //모바일, PC 사이즈 전환이 실제로 발생할 때만 코드가 실행되도록. newIsMobile !== isMobile 이 구문이 없으면 resize될 때마다 동일 코드가 실행됨.
					if (isMobile) {
						// 모바일 전환 시 모든 lnb-list 닫기
						gnbItems.forEach(gnbItem => {
							gnbItem.querySelector('.lnb-list').style.height = '0px';
						});
					} else {
						// PC 전환 시 모바일 메뉴 닫기 및 모든 초기화
						siteNavigation.classList.remove('active', 'focus-in');
						navToggleBtn.classList.remove('active');
						_HEADER.classList.remove("open");
						gnbItems.forEach(gnbItem => {
							const lnbList = gnbItem.querySelector('.lnb-list');
							lnbList.classList.remove('active');
							lnbList.style.height = '';
						});
					}
				}
			});

			//scroll : 헤더 숨기기 기능
			window.addEventListener('scroll', function() {
				onScroll();
			})
			let lastScrollTop = 0;
			const delta = 15;
			function onScroll() {
				const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
				if (Math.abs(lastScrollTop - scrollTop) <= delta) return;
				const header = document.getElementById('header');
				header.classList.toggle('on', scrollTop > lastScrollTop);
				lastScrollTop = scrollTop;
			}
		}
	</script>
</head>

<body class="sebang-header-test" id="body">
	<div id="wrap">
		<header id="header" class="light"> <!-- transparent 클래스 투명 헤더 -->
			<div class="header-inner">
				<h1 class="site-subject" id="siteSubject">
					<a class="site-name" href="/" title="SEBANG">
						<span class="name-text blind">SEBANG 로고</span>
					</a>
				</h1>
				<div class="site-control">
					<div class="button-area">
						<a class="btn goto-site-navi" href="#">
							<span class="line"></span>
						</a>
					</div>
				</div>
				<div class="site-navi" id="siteNavigation" data-bui-toggle="siteNavigation">
					<ul class="gnb-list">
						<li class="gnb-item">
							<a href="#" class="gnb-name" title="SEBANG 메뉴">SEBANG</a>
							<ul class="lnb-list">
								<li class="lnb-item">
									<a href="#" class="lnb-name" title="페이지 이동">그룹소개</a>
								</li>
								<li class="lnb-item">
									<a href="#" class="lnb-name" title="페이지 이동">연혁</a>
								</li>
								<li class="lnb-item">
									<a href="#" class="lnb-name" title="페이지 이동">창업자의 정도의 길</a>
								</li>
								<li class="lnb-item">
									<a href="#" class="lnb-name" title="페이지 이동">CI</a>
								</li>
							</ul>
						</li> 
						<li class="gnb-item">
							<a href="#" class="gnb-name" title="BUSINESS 메뉴">Bussiness</a>
							<ul class="lnb-list">
								<li class="lnb-item">
									<a href="#" class="lnb-name" title="페이지 이동">사업영역</a>
								</li>
								<li class="lnb-item">
									<a href="#" class="lnb-name" title="페이지 이동">물류</a>
								</li>
								<li class="lnb-item">
									<a href="#" class="lnb-name" title="페이지 이동">제조</a>
								</li>
								<li class="lnb-item">
									<a href="#" class="lnb-name" title="페이지 이동">IT</a>
								</li>
								<li class="lnb-item">
									<a href="#" class="lnb-name" title="페이지 이동">리사이클링</a>
								</li>
								<li class="lnb-item">
									<a href="#" class="lnb-name" title="페이지 이동">CSR</a>
								</li>
							</ul>
						</li> 
						<li class="gnb-item">
							<a href="#" class="gnb-name" title="ESG 메뉴">ESG</a>
							<ul class="lnb-list">
								<li class="lnb-item">
									<a href="#" class="lnb-name" title="페이지 이동">세방 ESG</a>
								</li>
								<li class="lnb-item">
									<a href="#" class="lnb-name" title="페이지 이동">Environment</a>
								</li>
								<li class="lnb-item">
									<a href="#" class="lnb-name" title="페이지 이동">Social</a>
								</li>
								<li class="lnb-item">
									<a href="#" class="lnb-name" title="페이지 이동">Governance</a>
								</li>
								<li class="lnb-item">
									<a href="#" class="lnb-name" title="페이지 이동">사회공헌</a>
								</li>
								<li class="lnb-item">
									<a href="#" class="lnb-name" title="페이지 이동">사이버신문고</a>
								</li>
							</ul>
						</li> 
						<li class="gnb-item">
							<a href="#" class="gnb-name" title="NEWSROOM 메뉴">Media Center</a>
							<ul class="lnb-list">
								<li class="lnb-item">
									<a href="#" class="lnb-name" title="NEWS 페이지 이동">뉴스룸</a>
								</li>
								<li class="lnb-item">
									<a href="#" class="lnb-name" title="MEDIA 페이지 이동">SNS</a>
								</li>
								<li class="lnb-item">
									<a href="#" class="lnb-name" title="MEDIA 페이지 이동">홍보영상</a>
								</li>
								<li class="lnb-item">
									<a href="#" class="lnb-name" title="MEDIA 페이지 이동">카드뉴스</a>
								</li>
							</ul>
						</li>  
						<li class="gnb-item">
							<a href="#" class="gnb-name" title="RECRUIT 메뉴">Recruit</a>
							<ul class="lnb-list">
								<li class="lnb-item">
									<a href="#" class="lnb-name" title="페이지 이동">채용절차</a>
								</li>
								<li class="lnb-item">
									<a href="#" class="lnb-name" title="페이지 이동">직무소개</a>
								</li>
								<li class="lnb-item">
									<a href="#" class="lnb-name" title="페이지 이동">인사제도</a>
								</li>
								<li class="lnb-item">
									<a href="#" class="lnb-name" title="페이지 이동">입사지원</a>
								</li>
							</ul>
						</li> 
					</ul>
				</div>
				<div class="site-util">
					<span class="button-area">
						<a class="btn customer" href="#" title="고객문의"><span class="btn-text">고객문의</span></a>
						<a class="btn search" href="#" data-bui-toggle-button="unifiedSearch" title="검색"><span class="btn-text blind">검색</span></a>
						<a class="btn language" href="#" title="국영문변환"><span class="btn-text blind">국영문변환</span></a>
					</span>
				</div>
			</div>
		</header>
		<div class="main">
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut tempore cupiditate velit voluptatibus esse placeat aspernatur, provident expedita, odio sit optio praesentium. Odit nobis libero dolores alias aut quasi explicabo? Maiores similique, minus perferendis officiis veritatis reiciendis est animi quasi quibusdam exercitationem ratione aliquid eveniet expedita vel, id repudiandae, magni maxime. Architecto ullam minus doloremque doloribus quo omnis deleniti cumque saepe voluptatibus recusandae possimus laudantium, laborum quae ex. Tempore blanditiis, in iusto molestiae praesentium deserunt ab ducimus maxime sint officia totam laudantium ullam aliquid nisi rem, assumenda sapiente, animi incidunt? A quidem sint deserunt harum, iure illo repudiandae, dignissimos voluptates debitis pariatur suscipit amet modi reprehenderit eius. Laborum earum facere consequuntur recusandae rerum magni velit reiciendis esse libero dolore consequatur obcaecati temporibus, id repudiandae tempore impedit quisquam accusantium reprehenderit? Tempora accusamus quibusdam blanditiis a pariatur excepturi eum quod magnam aliquid harum. Natus corporis minus quam nam, saepe earum error blanditiis aliquid vero in voluptates et quisquam vel! Rem minima possimus neque nostrum eveniet delectus molestias exercitationem pariatur id saepe excepturi veritatis voluptatem eos reiciendis, sint facilis veniam totam alias quisquam inventore consectetur praesentium obcaecati voluptate aliquam. Placeat voluptatibus dolor odio, ullam cum eveniet. Error doloremque alias tempora. Fuga iste voluptas molestias voluptatum repellat dignissimos hic magnam placeat consectetur a iure accusantium harum omnis obcaecati, quaerat adipisci deleniti, ipsam aut rerum aspernatur soluta ducimus! Suscipit et inventore in consequatur odio reprehenderit laboriosam aut ipsa voluptatum amet? Dolor pariatur libero animi, aperiam atque repudiandae enim praesentium maiores unde placeat blanditiis omnis illo nisi, ipsam asperiores, illum perspiciatis exercitationem voluptatum porro eius odio quisquam? Laboriosam eligendi, vitae porro explicabo dignissimos quae tenetur fuga quos, saepe laudantium et magnam qui ipsum cupiditate laborum. Deserunt incidunt repellat unde illum exercitationem quo, voluptatibus temporibus corporis minima odit animi laboriosam eum voluptate dolorem quisquam. Dolores autem rerum, ea neque totam tempore pariatur, eum, dicta in deserunt rem. Sit, nemo! Officiis nulla saepe, praesentium corporis ad iusto dicta vitae reprehenderit odit nisi quibusdam nobis quas facere quo exercitationem. Voluptates quam voluptas delectus, aliquam laborum, similique temporibus exercitationem est adipisci itaque repudiandae quasi culpa libero laboriosam molestiae, illo alias tempora. Possimus nostrum suscipit aliquam omnis eligendi voluptas atque praesentium impedit a! Quae, corporis sint. Facilis, aperiam nemo ad totam nam nesciunt, nostrum, vitae officiis ratione est sequi sint. Veniam sequi quo ea cum, hic sapiente laborum, maiores alias vero pariatur et accusamus iusto at ad fugit provident voluptatibus temporibus nobis minima corporis repudiandae quidem velit? Quasi dolores blanditiis tempore asperiores expedita possimus nulla placeat consectetur, voluptates magni neque sequi mollitia quo, veritatis vero non sunt omnis odit, eveniet aliquam. Repellat ex eos doloremque velit est, sit atque tenetur dolor nisi veniam fugit quisquam quis! Provident minima, cum sit iste est nam rerum error! Aperiam, animi asperiores adipisci commodi vitae dolore magnam ratione molestiae recusandae quam maxime odit similique tempore nulla accusamus velit! Tempore neque cumque corrupti, unde laborum distinctio pariatur ut error ipsum fugiat eveniet nesciunt hic! Libero odio harum maiores distinctio animi ad eligendi aliquam tempora asperiores, sint dolorem inventore nisi incidunt, saepe neque rerum architecto aut ut esse nemo quia fuga maxime magni ullam? Saepe consequatur eveniet totam omnis quod, distinctio accusantium? Quam nulla eaque, sint quibusdam fuga incidunt, perspiciatis consequuntur, sequi perferendis tempora esse laborum provident error minus! Dicta, a in repudiandae atque veritatis cupiditate at totam minus amet est hic! Nihil culpa sed sit provident, neque amet modi aspernatur? Dicta, blanditiis, officia quibusdam dolorem autem excepturi repellendus et animi doloribus voluptatibus ipsa accusamus ducimus, perspiciatis iste explicabo odit. Ipsum, eligendi placeat eum eveniet aperiam nulla perspiciatis numquam hic sit, inventore molestiae odit ipsa et qui omnis nihil illo obcaecati quia quod cum sunt natus facilis accusantium consequatur! Sit perferendis quisquam excepturi quas iste quam? Quos exercitationem molestias pariatur recusandae laudantium fugiat dolore impedit saepe veritatis tempore at nihil nam nemo blanditiis consectetur quasi, incidunt omnis eum voluptate soluta! Fuga incidunt exercitationem fugiat, nesciunt qui vero quisquam explicabo, officia quaerat non tempore velit minima cumque, ullam amet eligendi sequi provident aperiam illo odio dignissimos libero culpa quia atque. Maiores, voluptatum obcaecati hic minima, voluptas iure vel nobis alias veniam laudantium quas! Iusto laboriosam tempora animi, deserunt illo perferendis sit! Repellat eius voluptates sapiente expedita inventore saepe explicabo impedit sed dignissimos aspernatur, quo corporis necessitatibus culpa adipisci dicta labore enim eum unde quos quisquam. Ab consequatur quidem excepturi ipsum aliquam dolor, molestiae placeat magni porro quae quo numquam quia fuga sint temporibus dolorem explicabo tempore quos est commodi? Ut amet at facilis facere quisquam. Aperiam, veniam! Iure sequi sunt architecto voluptate ullam quaerat sint accusantium, recusandae earum veritatis obcaecati deleniti officia minus voluptatibus possimus dignissimos repudiandae non dolor repellat odit blanditiis maxime natus officiis. Delectus voluptate corrupti deserunt omnis cumque? Placeat quos quibusdam perspiciatis ullam beatae exercitationem voluptate sed magni adipisci laboriosam! Possimus eius nulla beatae aliquid fuga accusantium praesentium eos, placeat at facilis animi dolor maiores amet saepe tempora voluptatum vero repellat tenetur totam commodi officiis reiciendis voluptas! Corporis ex delectus quaerat, inventore architecto soluta. Sed dolore dolores ducimus laboriosam officia expedita, itaque numquam quisquam nisi id repellat, nesciunt assumenda voluptas dolor illo inventore sit. Veniam eius repudiandae, numquam quia cumque tempore quasi. Maiores veniam quas eos veritatis natus, culpa, similique eius est provident, ratione ab odio asperiores libero necessitatibus odit aspernatur nemo temporibus nesciunt reprehenderit exercitationem sequi! Fugiat laboriosam, cupiditate numquam officiis qui aperiam, a maxime quidem nostrum enim facilis, necessitatibus odio autem dolore? Nulla est beatae at quod voluptates quasi dignissimos natus, blanditiis, dicta aspernatur maxime quisquam dolorem nemo perspiciatis vero. Odio inventore odit aspernatur aut quidem natus tempore et molestias ab, beatae accusantium neque pariatur perferendis aliquid iste debitis excepturi architecto! Fuga obcaecati magnam, quaerat quo repellendus totam atque officiis nesciunt, accusamus dolorem, animi recusandae adipisci sequi nam veritatis dolore! Nobis laborum debitis sequi soluta dignissimos quisquam, voluptate atque quam numquam voluptates, explicabo voluptatum minus. Nulla dolor harum modi, officiis quo explicabo facilis eos. Nostrum perferendis repellendus ad, a odio obcaecati, dolor natus excepturi repudiandae vitae, reprehenderit culpa esse asperiores dolorem minima aliquid velit voluptatibus! Debitis dolor impedit eius sed alias officia aspernatur adipisci, accusantium dolores autem quis voluptatibus quibusdam voluptas quo ducimus expedita, similique culpa nobis, officiis fugiat. Expedita, aliquam nihil aut inventore minus, sunt molestias eum veniam neque iusto numquam aspernatur vero doloremque voluptates sint incidunt, beatae a ratione repudiandae temporibus placeat quam! Qui et, facilis itaque eos officia assumenda illum quod animi natus laboriosam id sapiente, deserunt ab a dolores modi voluptates aspernatur. Amet voluptatum possimus, dolor asperiores quam sapiente aut, voluptates harum soluta aperiam, vitae autem optio! Doloribus pariatur id corrupti porro quisquam incidunt labore, voluptatibus suscipit dolorum eveniet, eius deserunt ipsam perspiciatis a. Porro asperiores at sed nam adipisci, cumque omnis quo atque esse dignissimos quibusdam hic reiciendis a consectetur vero impedit alias rem ipsam nisi voluptatibus voluptas accusamus eum. Totam repellat, expedita officiis dicta enim sapiente ea quasi placeat aspernatur iure modi reiciendis cupiditate sunt aperiam debitis blanditiis quisquam voluptate nemo impedit veniam, id provident excepturi! Quisquam tempora excepturi ipsum. Reiciendis error sit nostrum expedita exercitationem, autem modi, ratione architecto, accusamus nesciunt non deserunt quia iure? Ipsam reprehenderit esse, alias aperiam fugit sed officia amet repellat voluptatibus sunt omnis ut eveniet iste totam quasi at molestiae vitae, quae saepe aut magnam nostrum. Vero, quasi nulla? Praesentium expedita ratione quia voluptatibus nisi repudiandae, maxime fugit quibusdam itaque officia doloribus architecto non iure unde minus beatae, labore aspernatur omnis eius, necessitatibus porro quae. Illo ex natus neque, reprehenderit harum deleniti delectus labore, consectetur non repellat aliquam voluptate dolorem, blanditiis et consequuntur odio. Impedit, aliquam distinctio architecto repellat dolore nisi error voluptas dolorem dignissimos suscipit blanditiis culpa neque, et vitae provident! Similique fugit beatae quasi ullam dicta, in labore doloremque sequi debitis commodi accusamus aliquam aspernatur nesciunt id cupiditate incidunt cumque non ut rerum et ratione tenetur quas! Reprehenderit unde aliquam, nihil amet adipisci enim molestiae dolorem pariatur est vel nostrum beatae quod quibusdam id temporibus reiciendis repellendus consequuntur? Facere sunt error quasi, esse corrupti deserunt commodi recusandae natus veniam ipsum accusamus ullam sit nihil vel earum similique molestias a! Nobis rem porro repudiandae ipsa quibusdam laboriosam similique vitae sequi sunt architecto itaque placeat eligendi libero nam quo voluptate assumenda, quasi fuga asperiores repellat inventore amet veritatis. Facilis vero enim impedit dolorum aperiam laborum ullam atque, commodi praesentium voluptatum corporis dicta odio pariatur ab vitae facere iste fugit sapiente nostrum id debitis tempore quos. Molestiae obcaecati ipsum aspernatur ut deserunt, nostrum corrupti, nam quibusdam minus modi tempore nulla. Esse, delectus minus ipsam, dolore labore aperiam praesentium harum nobis qui provident, quasi animi. Nisi saepe cupiditate et commodi ullam ipsum officia, tempora provident adipisci possimus quis? Aspernatur, voluptatem fugit? Est porro labore similique a. Rerum aut odit maiores nihil? Voluptas cum tempore id reprehenderit modi iure aspernatur alias ea provident, ullam error? Optio aspernatur iste ipsum perferendis voluptate fugiat deserunt, maxime, aperiam sapiente quis provident incidunt consequatur explicabo dignissimos? Esse reprehenderit iusto optio veritatis asperiores doloremque placeat. Ab possimus consequuntur odit quidem culpa. Quas aliquam ipsa eum, eveniet illum asperiores vitae dolorum sed beatae soluta quaerat autem in nobis ratione odio repudiandae corrupti quibusdam molestias debitis fuga perferendis sapiente. Est eligendi quaerat repellendus harum quod consequuntur incidunt dolor ducimus fugit placeat aut libero laborum eum eaque, doloribus omnis sequi! Consequuntur atque itaque magnam, perspiciatis error sit ipsum similique odio deleniti ea illo asperiores, corporis sed rem, fugit blanditiis? Provident fugit officia quis soluta delectus cum eligendi ea eum ipsam, tenetur est similique, veritatis a at ipsa aliquid nisi vitae. Cupiditate, in culpa, optio sunt porro tenetur praesentium dolorem labore distinctio ratione natus? Aut quod tempore veritatis dolore soluta cupiditate hic tenetur sint quos quo, repellendus quae, itaque provident asperiores incidunt aliquid exercitationem, illo qui deserunt. Saepe labore soluta deserunt aliquam officiis reprehenderit dignissimos quod perspiciatis numquam nisi quam tempore, sit illum consequuntur consequatur magnam excepturi ducimus. Dolore quibusdam omnis vero veritatis nostrum voluptas eveniet delectus, minima maxime. Incidunt iure officiis earum eos error quisquam nisi ipsum recusandae maiores qui nesciunt repellat magnam, laborum minus aliquam libero, nobis dolorem fugit. Architecto quod ipsam pariatur doloremque id non aliquam veritatis voluptates! Libero numquam atque ipsam earum est qui enim quaerat eligendi itaque aliquam voluptatum rem aspernatur dolorem hic, excepturi soluta sit a eum nostrum! Maxime in eligendi, magni, necessitatibus minus, voluptatum rerum distinctio corporis est possimus laboriosam voluptas architecto. Earum consequuntur a corrupti aliquid officia ipsam est excepturi eligendi facere eos. Doloremque ex labore est nesciunt eum quae aspernatur. Aspernatur voluptate similique quasi quidem aliquid sapiente omnis iusto nostrum. Possimus laborum quasi sint nulla? Dolores laboriosam porro voluptatem quas delectus iusto illum, et perferendis. Quibusdam natus ducimus ipsam repellendus iure reiciendis provident sequi? Dicta repellat voluptatibus voluptatem dolorum! Magni repellat voluptates quo harum adipisci, illo vitae? Recusandae, dicta accusantium laboriosam ducimus consectetur assumenda vel dolorum iusto suscipit beatae quaerat sed corporis autem adipisci illum voluptate aliquam, quod ut perspiciatis? Quisquam, totam accusantium nemo error illum deleniti, minima ea doloremque fugit unde itaque voluptates ipsa quis eius facere optio enim labore porro quia molestias animi. Qui nam recusandae veritatis quaerat nisi inventore vitae iste minus expedita illo, est ratione delectus suscipit placeat quas quidem possimus fuga molestias impedit perferendis voluptas deleniti, maiores molestiae. Labore, officiis sequi, velit obcaecati dolore id placeat deleniti, dolorem ex atque adipisci. Sequi vel accusamus id voluptates enim libero earum eveniet laborum nihil! In ipsa nemo aliquam ducimus unde quam dolores eligendi deleniti. Dolor, aperiam sint quia sequi at doloribus reprehenderit rerum nostrum corporis cumque magni quam, totam distinctio temporibus quo ut ipsa harum quasi hic eos? Molestiae doloremque sed eligendi quisquam obcaecati dolore, similique odio enim eius adipisci. Eos distinctio dolores, error aspernatur impedit earum ipsa libero deserunt a cum saepe delectus animi nihil excepturi quasi. Optio tempore possimus saepe facilis veniam. Itaque sint expedita temporibus commodi fuga quis necessitatibus laborum, animi, sed cumque accusantium sunt, porro corporis delectus perspiciatis sequi eligendi rem suscipit illum! Laboriosam veritatis rem dolorem dicta quo. Mollitia, voluptas tempora vero voluptatum dolore et quidem explicabo officiis ea consequuntur atque debitis beatae reprehenderit nesciunt quis quasi, maxime totam ullam dignissimos qui voluptate consectetur incidunt. Accusantium quae quaerat voluptate, eos eligendi est nemo maxime molestias voluptates, minima autem! Perferendis eum quo reiciendis tenetur neque illum ducimus, aspernatur sit deserunt quae. Adipisci reprehenderit quibusdam natus unde vel optio aspernatur dolores quis praesentium eos? Doloribus commodi, dolorem error voluptas unde deserunt tempore ea ratione laboriosam ipsum natus quo deleniti rem assumenda nesciunt ad facilis. Excepturi, dolores. Voluptates obcaecati qui deserunt perspiciatis ducimus quidem nisi itaque! Blanditiis explicabo quasi similique porro nisi sed harum ipsum possimus? Porro, ipsam! Vel error earum perspiciatis quis, eaque excepturi porro veritatis odit laudantium amet, repellat cum, nam ut eveniet soluta quasi impedit laborum modi. Facilis quo nemo reiciendis illo? Similique iure quisquam unde molestiae architecto illo labore sunt recusandae iusto. Eligendi nulla sint, dolores recusandae nostrum quis amet, a aut, dolorum aperiam facilis velit? Eligendi voluptatem suscipit vero aut praesentium ex, temporibus molestias magni repellat minima et quam laudantium exercitationem unde, distinctio tempore eaque atque a fuga doloribus iste est obcaecati consequuntur repellendus. Quas quos minus nobis dignissimos explicabo quod velit obcaecati suscipit quisquam facere similique id sed, tempore labore quidem magni, possimus placeat aut quibusdam et a enim tempora. Facere voluptas error dignissimos possimus officia aperiam animi vel. At sed similique nam pariatur, quos, repellat delectus voluptatum eos quidem eligendi odit, commodi aliquid velit optio doloremque nostrum asperiores quisquam deleniti eius dolore neque placeat maiores reprehenderit nisi? Nostrum nulla aut, numquam est distinctio itaque sed repellat laudantium cumque non deserunt fuga at quis perferendis fugiat? Necessitatibus atque ex ab, modi animi sed debitis? Temporibus pariatur exercitationem magnam iusto! Sed delectus quam sunt unde neque obcaecati commodi consectetur corrupti accusamus magnam labore voluptate dolor facilis accusantium ex dicta error aperiam, odio deserunt officia quis architecto voluptatem doloremque alias! Quis iure repellat aliquid veniam dignissimos quidem dolorum in voluptates necessitatibus sed rerum voluptatibus autem delectus, nihil ea totam sequi laborum facere obcaecati laudantium id! Eveniet aspernatur unde earum ex quia, velit error voluptas labore culpa, distinctio rem saepe voluptatibus? Voluptatibus autem laudantium hic mollitia suscipit voluptates sunt dicta natus pariatur. Porro unde est consequuntur quasi recusandae similique alias aperiam voluptates saepe eius, rem iusto ex esse libero sequi! Reprehenderit fugit eum porro? Vero harum voluptate explicabo qui amet atque ad? Sit atque ipsum vero aut corrupti delectus repudiandae eveniet provident voluptas error quod ab nemo, doloribus ipsa veniam consectetur culpa illum enim? Nisi recusandae perferendis vel. Facere odit tempora earum architecto laborum officiis deserunt vero doloribus, est alias autem illum veniam ea, labore voluptates! Earum a atque deserunt sequi. Ad odio corrupti dolores maiores? Dolorum voluptatibus reiciendis quam, mollitia natus molestias corporis porro dolores harum distinctio maiores voluptates? Sapiente ex repudiandae maiores doloribus necessitatibus! Ex distinctio error consequatur, explicabo exercitationem ipsam voluptatem ab velit, deserunt esse cum beatae! Maxime provident, dolorum officia labore dignissimos reiciendis dolore, unde et, ex aliquam temporibus exercitationem vero voluptatum blanditiis sequi possimus facere adipisci perspiciatis quia sunt illo sed accusamus! Est molestiae accusantium possimus, praesentium neque quae cum nesciunt consequatur. Necessitatibus facilis aspernatur reiciendis hic. Dicta numquam optio ex nostrum quia ipsam ducimus pariatur eum non quidem veniam aliquam nihil, incidunt quisquam dolores? Debitis incidunt voluptatibus deserunt, et possimus animi sed excepturi molestiae autem consequatur nulla dolore fugiat porro beatae eveniet voluptatum temporibus delectus eos corrupti accusantium facilis! Officiis libero accusantium ab velit eos, quo fugit repellat illo laudantium similique eligendi at porro nulla, quisquam animi dolore eum tempora eius. Ex adipisci aperiam laudantium laboriosam veniam odit accusantium aut, voluptas dolorum nihil ut magni quisquam dolorem nobis doloremque ratione cupiditate ea officia non temporibus quibusdam. Nostrum ullam cumque velit odit nulla modi atque temporibus, aut molestias delectus voluptate ipsa dolore voluptates. Eligendi voluptatibus sapiente animi iste blanditiis error assumenda incidunt, repellat perferendis! Eligendi, voluptate voluptas officiis culpa vel explicabo laborum quibusdam ducimus deleniti voluptatum suscipit aliquid, deserunt aliquam tenetur rerum iusto quaerat recusandae? Doloribus alias consequuntur ipsa, velit ea suscipit amet. Deserunt, rem. Exercitationem quia dolorem delectus ipsum laudantium consequatur impedit voluptas cumque esse consequuntur! Voluptate voluptatem consectetur quos animi nam hic nemo similique temporibus minima, veniam ex delectus ratione ipsa quidem repudiandae harum aliquam sint eos dicta? In quia sed dicta natus fugit ut veritatis nihil fuga atque accusantium aliquid, minus architecto magni nobis? Aut porro impedit harum, labore provident cum molestias illo id odio optio quidem exercitationem quasi. Quis numquam, quasi sapiente facere ullam aliquam dignissimos culpa quos minus veniam ab, reprehenderit accusamus pariatur atque consequuntur placeat at quisquam incidunt dicta earum ratione a architecto explicabo laborum! Nobis sed illum enim fuga suscipit aspernatur, tenetur at natus eum repudiandae neque ab placeat explicabo laboriosam eligendi blanditiis perspiciatis doloribus odio deserunt dolor veritatis? Doloribus excepturi vel voluptatum rem libero nostrum sequi nemo modi labore, deleniti, facere hic ipsam minus quisquam molestiae dolor officia saepe, tempora quis cumque. Hic, libero ut, sit numquam deleniti eaque nesciunt quae, eos beatae ea qui dolorum. Reprehenderit perspiciatis quaerat officia quidem accusamus! Sint, quos veniam perferendis maiores ipsam quo quasi dignissimos aspernatur cupiditate animi quae, repudiandae nisi fugit ullam et nostrum blanditiis dolorum enim ut accusantium. Ipsum eius exercitationem nostrum commodi error deleniti tempore, corporis vitae minus nulla quia aut ducimus placeat recusandae ut quaerat non veniam totam animi sed sapiente ab molestias. Iste quae earum, pariatur repudiandae, unde nobis voluptatem dolor nulla perspiciatis omnis molestiae optio dolore ab officia temporibus ipsa tenetur consequuntur nam placeat! Deleniti eius quam aliquam neque, consequatur cum saepe adipisci alias, enim tempore temporibus! Eum et qui nostrum, similique tempora voluptatum commodi ab labore nobis quas unde vitae, laudantium sunt minus enim doloribus. Doloribus repellendus adipisci fuga animi odio mollitia atque, dicta fugiat saepe, recusandae omnis rerum ex a consequatur illum exercitationem perspiciatis, ducimus perferendis nulla labore? Similique, eum accusantium unde sequi culpa laborum explicabo nobis aperiam voluptas quia. Quaerat dignissimos libero provident corrupti iure! Quia, et! Minus, aspernatur? Delectus itaque autem corrupti quisquam laboriosam esse corporis quis odio! Assumenda quis adipisci nobis voluptatum voluptatibus incidunt harum ipsum perferendis quod eveniet ut molestiae consequuntur, iste unde ullam eos minus repellendus officiis ex mollitia sequi optio numquam modi! Rem cupiditate provident aut repellendus aliquam minima autem eos. Enim necessitatibus saepe molestiae, natus voluptate eos exercitationem quasi ex quidem aspernatur. Velit voluptas, impedit consequuntur alias cum aut repudiandae quisquam corporis voluptates repellat at omnis iusto fugiat atque animi officia quae, saepe distinctio dolor amet iste voluptatibus in fugit? Corrupti, ut nam. Rerum quis architecto mollitia placeat, hic deleniti qui repellendus culpa, eum eaque, nam dignissimos maxime at consequatur aspernatur cumque illum vel reiciendis. Quia, natus recusandae. Fuga temporibus illo harum accusantium similique provident placeat veritatis, quas repudiandae sunt perferendis quod. Quibusdam cum culpa tempore nihil harum omnis debitis similique. Saepe reprehenderit ea ipsa tempora quis est deserunt nesciunt, provident quae pariatur tempore cumque soluta aut consectetur quos placeat perspiciatis quidem, dicta eum repellat alias, vitae odit numquam. Rerum inventore facilis laudantium soluta. Corporis praesentium, architecto earum eaque vero quo obcaecati aperiam numquam, qui tempora esse nemo dolorem nihil? Molestias voluptatibus optio nesciunt quas sed corporis a voluptate nemo. Modi dicta libero excepturi illum, dolore id animi eos quos aspernatur nam cupiditate nihil quaerat perferendis. Consequuntur obcaecati molestiae unde assumenda reprehenderit, voluptatem dolores eaque debitis excepturi. Pariatur cupiditate, quam veniam animi earum maiores cumque delectus odit iusto et tempora dolorem iste laborum ipsa eius nisi esse! Harum, molestiae, in obcaecati excepturi expedita minus totam tempore repudiandae nostrum, nam beatae optio quaerat ut veniam soluta ipsum debitis vitae perferendis vero dolorum incidunt doloribus ullam sit velit? Reiciendis totam sit magni similique perferendis eius placeat debitis dolor porro expedita harum consequatur odio, a possimus at iusto fuga nam in nostrum earum atque minima maiores asperiores vel! Error repudiandae nostrum dignissimos! Sapiente reprehenderit mollitia aliquam placeat voluptatum. Quos a voluptatem voluptatum, iure aperiam ut consequuntur. Iure, itaque corporis! Velit eos labore sequi dicta odio modi? Hic assumenda ullam beatae qui quas dolorem veniam nostrum vel itaque quo perspiciatis eos quod, iure dolor iusto ipsam modi quidem error nisi at fugiat tempora, praesentium saepe corporis? Atque doloremque error earum excepturi aperiam quasi omnis, enim dolor facilis rem quaerat veniam pariatur sunt culpa blanditiis tenetur in magnam facere! Laborum saepe cum eaque aut a magnam dolorum, soluta nobis, ipsa eum dolor. Rem quia modi repudiandae non eveniet laboriosam sapiente provident illo exercitationem officiis, commodi tenetur quisquam magnam suscipit libero ab. Eligendi, iure sunt. Illum nulla dolore architecto voluptatem tenetur? Explicabo deserunt minima corporis dolore maxime enim, voluptate suscipit saepe velit id delectus nisi sunt praesentium, ex excepturi similique! Voluptate, soluta nam quisquam amet qui omnis quaerat sapiente ab cum debitis molestiae earum! Obcaecati, facere distinctio. Nam nobis corrupti blanditiis, fugiat id, cupiditate qui nostrum, neque nemo dolorum dolorem labore modi! Sit perspiciatis, voluptas cumque exercitationem harum temporibus in quae quod non! Magnam est, corrupti adipisci asperiores labore dolorum perspiciatis, rem corporis eum architecto laborum veniam maiores placeat repellendus? Beatae ipsum ipsa suscipit maiores debitis possimus! Quasi, distinctio. Porro sed magnam voluptatum dolorum, aut quis perferendis ducimus praesentium rem eos commodi laudantium obcaecati maxime quidem consequuntur explicabo repellat accusamus veniam vitae adipisci veritatis. Accusamus porro dolore sunt numquam laudantium. Earum, hic provident voluptatibus mollitia excepturi dolorem quia voluptates eveniet. Ea perspiciatis vero labore exercitationem dolorum magni veritatis, ipsa, autem atque facilis ullam optio suscipit veniam? Architecto, adipisci. Id atque excepturi incidunt sapiente minima quo laudantium deleniti explicabo a, sequi libero adipisci praesentium officia asperiores tempore quibusdam ratione saepe nam ullam alias. Ad nihil nam officia, in quidem porro nesciunt dolorum aut. Nisi architecto recusandae ullam voluptas deserunt voluptate eum delectus, dolores qui, optio minus odio. Dolore tempore optio aperiam, mollitia inventore officia qui vitae accusamus adipisci maiores consectetur eos repellat laborum, sequi voluptas atque nemo quidem eligendi. Dignissimos animi ea, voluptates iste quisquam earum suscipit illum itaque quas provident, numquam amet placeat quia eaque autem totam aspernatur maxime impedit enim nostrum. Maiores delectus illum accusamus ullam similique atque, repellat facilis commodi, esse ipsum voluptate omnis minus velit animi fuga, possimus nulla aspernatur error obcaecati! Harum praesentium dolorum facilis laboriosam quisquam inventore tempora neque aut molestiae! Nostrum quidem facere a quisquam asperiores beatae, ullam quo debitis maiores nisi? Quibusdam quos in obcaecati quasi aperiam excepturi inventore molestias velit saepe at, libero nisi blanditiis repudiandae aliquid possimus asperiores consequuntur odit officia similique odio! Maiores enim repudiandae, consectetur ex adipisci excepturi nihil nulla eveniet voluptas harum? Asperiores itaque deleniti provident hic adipisci libero modi earum at blanditiis laborum laudantium nostrum officiis perferendis sunt ad similique consequuntur quos, unde dolor, dicta nemo voluptas neque. Alias natus soluta sapiente asperiores sunt, sequi, necessitatibus ratione reiciendis sed aliquam nisi hic inventore dicta laudantium animi numquam pariatur nostrum! Sed natus iste ratione beatae, minus dicta iure numquam excepturi. Voluptatem hic optio dolorem quia illo obcaecati autem labore doloremque perferendis, repudiandae aut modi quis id vitae, temporibus minima eaque, ullam reprehenderit in cumque a beatae nihil sequi. Praesentium deleniti pariatur at, quam aliquid provident neque debitis quas, velit, cupiditate tempore! Nihil, voluptas saepe. Incidunt optio quod atque asperiores odio! Ab porro aspernatur totam iure temporibus nihil soluta necessitatibus, quas enim eius placeat accusamus hic magni, magnam eligendi consequuntur assumenda facilis dolores, perferendis illum cum inventore excepturi ratione quaerat! Tenetur totam, assumenda impedit soluta libero excepturi numquam enim explicabo? Error, incidunt voluptas, quae officiis, minus at nostrum ipsum cupiditate voluptatem nobis hic aliquam adipisci deserunt ut aliquid fugiat ullam sed? Quae illo eaque quisquam quo, nemo incidunt dolores fuga! Ipsam temporibus aperiam iusto unde reprehenderit numquam voluptatibus quis ipsum! Dolore atque ducimus aperiam delectus reiciendis dolor officia possimus fuga alias minima, eveniet molestias aliquid, officiis corrupti natus maxime libero quaerat rem reprehenderit cupiditate harum recusandae, debitis sequi. Praesentium, nulla corporis? Corporis odit maiores eius, nam neque ipsa, expedita inventore minus provident adipisci nobis iure qui omnis odio eos alias labore, quas ipsam nesciunt exercitationem fugit consequatur cumque! Magni ipsa provident necessitatibus doloribus modi eum tenetur aspernatur enim, itaque ut nemo? Quis, maiores dolor. Laboriosam, odit ea accusamus numquam modi asperiores hic rerum laborum temporibus perferendis quod esse dolore adipisci similique sapiente, eveniet ducimus minus amet fuga deleniti expedita. Animi consectetur possimus, maiores alias quidem incidunt laboriosam quasi atque voluptas quia nostrum enim quisquam perferendis pariatur, dicta doloribus optio suscipit veritatis ipsam officia tempora natus. Libero, nulla eos. Nostrum ad neque nesciunt recusandae, soluta repudiandae eum ab velit consequatur et in earum, possimus aspernatur debitis commodi tenetur corporis praesentium molestias ducimus, sapiente repellendus. Fuga voluptatum magni et quaerat tempore, quisquam nostrum a quod voluptate aliquam ipsum dolorem aut! Porro vel quas earum, aliquid delectus doloremque beatae odit ut ipsum dolorem, autem obcaecati eum vero commodi impedit omnis officia quis, tempora suscipit. Laboriosam amet itaque aspernatur excepturi doloremque nulla corporis reiciendis repellat dicta animi sit, optio tempore deserunt, facilis rem praesentium eius! Excepturi voluptatum eius atque illum iusto nobis maiores suscipit ratione obcaecati distinctio, quia sunt culpa unde molestiae accusantium fugiat dolores praesentium quibusdam nemo velit pariatur commodi earum. Autem architecto deleniti illo rem enim ab quae dignissimos beatae iure quasi. Quidem, dolorum magni labore pariatur provident modi facere rerum illum, suscipit dolorem voluptatibus doloribus adipisci quia voluptate. Quasi, recusandae atque quod quae, deleniti mollitia error iusto ipsum maiores ipsam voluptatem harum neque? Error minima voluptates earum unde veniam consequuntur quia soluta amet, expedita sequi. At nihil, ea inventore dolorem temporibus, in enim maiores nostrum non delectus laboriosam deserunt autem sequi ex porro voluptates provident praesentium, quo culpa magni adipisci quam! Quia dignissimos adipisci corporis similique, id recusandae nam, excepturi labore a beatae nesciunt ducimus aliquid consequatur soluta quas saepe nemo quae atque molestias maxime quod nulla qui? Quis eaque nulla ullam ipsam omnis. At iste impedit accusantium, aspernatur quas alias distinctio adipisci. Error animi corrupti accusantium reprehenderit adipisci eos provident cumque fugit ad totam nemo, molestiae tempora odit asperiores ipsam similique porro suscipit explicabo repellat neque quasi sint! Aspernatur vitae deleniti earum soluta harum corporis vero dignissimos quas repudiandae amet aut cum recusandae, fuga quod! Ipsum, quam aliquam? Voluptatum nostrum, totam nam consequuntur natus, obcaecati eligendi explicabo perspiciatis magnam illo dolores at omnis officia quod quo accusantium reprehenderit iure cupiditate praesentium sint adipisci numquam suscipit tempore? Obcaecati esse voluptatum exercitationem nobis? Et deserunt laboriosam optio repellendus delectus temporibus laudantium velit aliquam, nostrum recusandae amet voluptatum at sint fugiat ipsa ab quis dolore vitae! Id, aperiam ut deserunt aliquam consectetur hic amet, tenetur in tempora corrupti necessitatibus culpa quod mollitia fuga impedit, quae dicta animi magni repellendus assumenda est! Necessitatibus doloribus quae itaque dignissimos, harum quos natus quo eaque hic, doloremque culpa perferendis ut excepturi ea. Eveniet, quibusdam iste. Aliquid, ipsa assumenda magni veritatis cupiditate optio omnis porro numquam quas nisi blanditiis vero, quasi eaque quae rerum sit ex minus dignissimos. Laboriosam at voluptatibus aut harum aliquam quas doloribus quis asperiores consectetur autem numquam optio a ex nemo fuga sint assumenda suscipit ipsum minima repudiandae tempore nostrum, quasi animi molestias. Magni velit culpa repellat quibusdam fugiat quia unde optio nam odio nesciunt provident, reprehenderit ut repellendus? Sunt, tempora delectus odio suscipit eius debitis dolorum saepe repellat eveniet qui hic quos accusamus doloremque quod iste ut corporis quam tempore recusandae. Odit provident aliquid illum? Sint odit ipsa deserunt at cum nobis et rerum, laborum culpa ipsum eos dolorum neque dolore vero, incidunt porro laudantium nostrum doloremque? Repudiandae dolore at fugiat dicta eligendi libero voluptates, quae aspernatur suscipit id nulla, ex veritatis rem iste mollitia ratione accusamus ipsa temporibus in inventore nisi quaerat cum. Quisquam excepturi doloremque repellendus minima maiores nostrum odit sed impedit, quidem incidunt ullam obcaecati, minus aut neque vero sunt, sequi ratione nobis optio nisi iure. Deleniti, quis praesentium? Rerum consectetur pariatur suscipit expedita deserunt, ex molestiae! Architecto voluptate labore aut deleniti facere molestiae tempora deserunt optio sapiente assumenda exercitationem nemo aspernatur consequatur quod incidunt officiis sunt, minima veritatis, quis sint expedita! Accusamus voluptatem earum vel explicabo assumenda enim, animi dolor odio labore illo, reiciendis ipsum atque non quod. Assumenda aut amet, natus illum, pariatur delectus praesentium nesciunt vero velit minus quisquam. Aut iure assumenda cupiditate est incidunt. Numquam ipsam voluptatum labore ex aliquam debitis aliquid architecto provident, nisi consectetur sed veniam corrupti maxime eum quos error explicabo illum non obcaecati saepe! Deserunt natus, voluptatibus labore est beatae eos tempora fuga totam? Aliquam, quis dicta, similique quia hic quisquam suscipit doloribus possimus tenetur cum ipsam harum pariatur quasi dolor! Magni harum molestias eligendi fugit officia odit debitis fuga voluptatem nam impedit velit eius ducimus recusandae vero veniam rem doloribus fugiat non, sunt similique mollitia! Labore facere odio laboriosam. Eos cumque error accusamus odio deleniti qui. Rerum magni quidem atque animi, molestias pariatur non vero aut, reprehenderit minima optio sapiente iusto quam! Veritatis aperiam necessitatibus architecto repudiandae ipsam repellat? Ut suscipit id quos sunt vel asperiores quisquam labore hic, culpa odit tenetur sequi totam non ea nostrum libero. Pariatur officiis cumque accusantium sunt incidunt natus voluptatem. In saepe alias delectus odio voluptates deleniti nobis doloremque adipisci dignissimos. Facere nihil corporis nam ipsa autem neque minima accusamus corrupti ab a quaerat, dicta in eum. Voluptatum maiores aspernatur voluptas tempora? Iste placeat sint, fuga maiores animi cupiditate, assumenda expedita magnam fugit deserunt, et quisquam quasi itaque perspiciatis quas quibusdam molestias soluta quidem dolor. Fugit, vero iure? Sequi itaque eos temporibus natus obcaecati dolor quo mollitia id pariatur quas. At doloribus enim repellat nesciunt aliquid minus sequi, quibusdam repudiandae dolore eos modi quas libero quasi suscipit ad eius, sint facere totam consectetur minima! Aliquid deserunt quibusdam quas soluta facilis reiciendis vitae ullam molestiae, eligendi eos quo dolorum, veniam asperiores ex assumenda quos non. Consequuntur harum, adipisci id voluptatibus aliquid accusantium dolores in neque quisquam sit tempora modi quod quo distinctio odit est unde. Eligendi veritatis repudiandae sapiente nulla esse numquam voluptatem vel quam aliquam iusto nihil, doloremque quas exercitationem labore ullam adipisci, ipsam dignissimos earum est voluptatum ex tempora saepe rem? Deserunt doloremque numquam ab atque deleniti quam porro ea sequi, repellat ratione nihil aspernatur officiis velit iusto quod, voluptas facere explicabo veritatis dolor quas sit accusamus voluptatum ex voluptate. Asperiores autem quidem quod cum error fuga delectus. Suscipit, nemo quisquam voluptas natus aliquid vitae repellendus itaque excepturi blanditiis fuga quo, eius, illo accusamus commodi dignissimos eos quas quia. Nostrum repellat vitae sequi, perferendis aliquam animi modi cumque ullam eaque voluptates nemo odio, accusantium unde optio quae quod debitis quia cum nihil fugiat iure repellendus autem consectetur consequatur! Nihil libero, modi voluptatem atque enim delectus impedit sed error ducimus officiis inventore accusamus, quisquam velit minima, quo repudiandae vitae vel itaque aliquid! Sit deserunt odit iure, vitae alias, dignissimos consequatur neque praesentium quos amet ea. Aliquam ea illum eligendi, dolores error quas? Minus maxime, soluta harum porro cupiditate fugit, voluptatem asperiores aliquid assumenda repudiandae doloribus quasi est excepturi quod adipisci sunt deleniti pariatur deserunt labore blanditiis. Earum voluptas, quis odio iure quibusdam culpa assumenda quia excepturi, facere reiciendis ipsum eum sed illum necessitatibus! Cumque atque ipsa incidunt illum ex necessitatibus totam adipisci nobis, exercitationem in expedita, aspernatur quod sit voluptates alias et ullam, accusantium blanditiis? Voluptatibus magni quia numquam? Repellat reprehenderit omnis corrupti, modi autem quam eos exercitationem quisquam labore? Totam qui, odit corrupti nulla ex consequuntur vitae debitis voluptatem pariatur nemo accusantium expedita fugit eligendi provident sit, facere, optio tenetur consequatur dolores. Ex, suscipit rerum sit, animi dolorem ratione nesciunt quisquam necessitatibus illo ipsam, dolor vel corporis alias odit quibusdam nisi distinctio dolores et. Dolorem nobis placeat qui ad veritatis corporis veniam doloribus eligendi, magnam nihil aspernatur. Beatae aliquid necessitatibus fuga voluptas nihil corporis dicta, quas, temporibus, commodi velit quos praesentium magnam! Quam itaque dignissimos, culpa amet quaerat quos odio, ipsam vel ipsa dolor, voluptas repudiandae. Pariatur, recusandae. Natus architecto deleniti corporis laborum maxime commodi accusantium modi, voluptatem doloremque et, eligendi repudiandae, consectetur perspiciatis quo ipsam asperiores exercitationem vel ab est expedita illo omnis. Veniam dolore recusandae, quam laboriosam officia qui ab ut laudantium, natus enim in. Ea facilis reiciendis rerum, incidunt numquam amet vero excepturi, tempora harum corrupti possimus porro, alias adipisci tenetur minima! Nemo veniam totam quisquam magni ipsa sint maiores nam dicta, reiciendis necessitatibus fugiat minima cum vel recusandae vitae dolorum laboriosam voluptatibus ut quibusdam, cupiditate iure similique? Beatae commodi voluptate, vitae, quae eos blanditiis consequatur impedit fugit veritatis dolorum architecto unde maxime delectus ducimus quasi vero quis numquam laboriosam ex excepturi dignissimos consequuntur inventore! Assumenda officia itaque mollitia dolorum quaerat nam ipsa ipsum cupiditate iure. Odio vel saepe ratione dolorum doloribus reprehenderit eum laborum pariatur veniam atque, beatae inventore culpa blanditiis corrupti eligendi sed eaque enim illum nemo quam deleniti? Accusamus ab distinctio cumque laudantium tenetur libero fuga a praesentium consequatur eos! At quam atque asperiores, repellat necessitatibus quis beatae totam fugiat rem voluptate minus possimus! Aliquam alias molestias expedita optio aut sequi odio adipisci nemo excepturi non deserunt similique, voluptatibus enim atque quos explicabo architecto ullam provident labore inventore ea, tenetur error. Tempora nihil culpa dolorum, est hic cupiditate nisi necessitatibus illum quos! Similique esse, sint commodi qui molestiae quis. Placeat voluptate qui cum enim nostrum, reiciendis dignissimos? Nihil laborum a quia cumque aut deserunt dolorem recusandae ex debitis adipisci porro consequuntur harum quaerat quod eaque, voluptatum, odio modi illum veritatis fuga sapiente culpa aperiam nisi eos! Aut quo saepe quam. Ullam commodi placeat dignissimos ad dolorum totam maxime! Cupiditate harum aperiam culpa veritatis doloribus tenetur voluptatibus aut autem eveniet consequatur nihil similique iure itaque natus molestiae ipsam eaque voluptate, voluptates rerum minima officiis error maiores voluptatem quia? Id ut corporis assumenda numquam omnis pariatur, repudiandae molestiae voluptate nostrum adipisci voluptates sint similique veritatis blanditiis hic porro dolorem qui saepe modi! Omnis dolor praesentium numquam nemo enim? Consequuntur, voluptatem repudiandae quidem maiores odit rem quas laudantium maxime quisquam sed vero at iure officia libero sapiente. Ex in excepturi impedit laborum laboriosam omnis rem alias magni incidunt voluptate sint nihil amet consequuntur, eius ratione libero tenetur, dignissimos aliquam doloribus tempora hic enim doloremque facere sed? Magnam officia eaque eius ipsam, illo quidem repudiandae odio natus quam ducimus pariatur dolorum, laborum tenetur cumque dolorem sed cum repellendus vitae quod, suscipit sit doloremque perspiciatis accusamus? Labore quos nihil in exercitationem. Perferendis temporibus expedita ullam ab blanditiis quae non aperiam impedit perspiciatis quibusdam ex voluptas nam praesentium corrupti quis vitae reprehenderit adipisci nihil, architecto ad laborum, in, velit cum neque! Sapiente, odit saepe fugit explicabo voluptatibus distinctio expedita? Obcaecati esse, iure, vero qui et, sunt laudantium distinctio a eum voluptatibus doloribus necessitatibus modi autem repellendus. Nihil minima minus facere. Cupiditate sapiente quasi dolores porro hic laudantium, quae exercitationem iusto repudiandae reprehenderit eos soluta molestiae quas expedita dolorum quidem, unde incidunt accusantium labore, culpa aliquid! Necessitatibus distinctio sint sit fugit maxime aut recusandae quibusdam iste, dolor fugiat facilis assumenda laboriosam rerum ipsum nulla magni dolore ea quis fuga delectus dicta voluptas? Magnam dolorum earum animi nobis nam ea perspiciatis porro deserunt cupiditate eos non reiciendis numquam, accusamus expedita iste a iusto nesciunt sunt quibusdam harum inventore! Facilis voluptas dolores ipsa laborum. Neque, quidem similique. Eius ab corrupti similique. Consequuntur mollitia facere, reiciendis voluptatibus, asperiores consectetur veritatis cumque corporis nisi nihil voluptatem amet iste nesciunt eum quo sit modi qui dicta praesentium enim perferendis blanditiis doloribus. Eveniet facilis repellendus illum minus molestias distinctio dolorem iste assumenda quod earum! Doloribus quasi iusto alias omnis itaque harum labore adipisci id provident perferendis nulla libero nesciunt, repudiandae cum ipsam aperiam nobis laborum numquam ducimus repellendus. Nulla, sunt iure iste esse explicabo impedit. Temporibus perspiciatis dolorum accusamus maiores praesentium atque tenetur incidunt, veniam neque dolorem inventore saepe ab mollitia unde consectetur sapiente autem animi aliquam molestiae nulla? Dolorum vitae quisquam, ipsum harum dolores aperiam illo in voluptate facilis ullam ducimus? Quidem voluptatum voluptas accusamus fuga molestiae? Dolore repellendus ab voluptas aspernatur minima, ut obcaecati blanditiis fugit ratione ea nulla facilis sunt, saepe explicabo iusto asperiores natus aut at! Quo dignissimos veniam, debitis quod distinctio possimus harum natus tempora eveniet dolor iste itaque. A perferendis debitis sunt dolorum dolorem, nulla ut asperiores accusamus fugiat quam sapiente est accusantium, sed vel esse voluptatum sequi doloribus velit et non? Placeat iusto quae facere inventore autem quo ab libero rem officia esse ad fugiat ipsam, laboriosam omnis quibusdam numquam ullam praesentium. Qui quis repudiandae commodi eveniet perspiciatis et aut ea?
		</div>
	</div>
</body>

</html>