<!DOCTYPE html>
<html lang="en">
<head>
<%-include('../_templates.en/_head.ejs', {
	layoutTemplate: 'front',
	pageStyle: 'main',
	pageJavascript: ''
}) %>
</head>
<body class="en">
<div id="wrap" class="header-dark">
    <%-include('../_templates.en/_header.ejs', {
        type: 'dark',
    }) 
    %>
    <!-- main -->
    <div class="main" id="main">
        <div class="main-inner">

        </div>
    </div>
</div>
</body>
</html>